.canon-cart-container {
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  & > .canon-cart-area-sidebar {
    flex: 0 0 300px;
    width: 300px;
    position: relative;
    overflow: visible;
    & .canon-cart-sidebar-blocker{
      opacity: 0.5;
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      z-index: 10;
    }
  }

  & > .canon-cart-area-sidebar.hidden {
    display: none;
  }

  & > .canon-cart-area-data {
    flex: 1 0 560px;
  }

  & > .canon-cart-area-middle {
    position: relative;


    & .toggle-sidebar {
      position: absolute;
      & .bp3-button{
        background-color: transparent;
      }
    }
  }
}

.canon-cart-area-sidebar,
.canon-cart-area-data {
  overflow: auto;

  & > .canon-cart-wrapper {
    padding: 15px;
    & hr{
      margin: 20px 0px;
      border: 0;
      border-top: 1px solid #ccc;
    }
  }
}
