.cms-search {
  width: 100%;
  margin-top: 5px; /* mimic blueprint label margin */

  & > span, & .bp3-popover-target, & .bp3-input-group, & .bp3-overlay-content, & .bp3-popover, & .bp3-popover-content {
    max-width: none;
    width: 100%;
  }

  & .bp3-input {
    border-radius: 2px !important;
  }

  & .bp3-overlay-content {
    box-shadow:
      0 0 0 1px rgba(16, 22, 26, 0.1),
      0 2px 4px rgba(16, 22, 26, 0.2),
      0 8px 24px rgba(16, 22, 26, 0.2);
  }

  /* results list */
  & .results {
    /* sizing */
    height: auto;
    max-height: 10rem;
    margin: 0;
    overflow-y: auto;
    border-radius: 2px !important;

    /* active state */
    &.active {
      display: block;
      width: 100%;
      padding: 0;
    }

    /* individual result item */
    & .result {
      display: block;

      & .result-link {
        cursor: pointer; /* it's not a link, but it should be */
        display: block;
        padding: 0.5em 1.75rem;
      }
    }

    /* empty state */
    & .no-results {
      margin-bottom: 0;
      padding: 1em 1.75rem;
    }
  }
}
