.canon-cart-loading-panel{
  & .canon-cart-loading-list{
    & .canon-cart-loading-item{
      display: flex;
      justify-content: space-between;
      height: 25px;
      min-width: 200px;
      align-items: center;
      & .canon-cart-loading-item-icon{
        margin-left: 10px;
      }
    }
  }
}
