.cms-member-table {
  margin: 30px 
}

.cms-member-filter-container {
  margin: 30px;
  display: inline-flex;
}

.cms-flickr-input {
  width: 300px;
}

.cms-flickr-image-container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.cms-flickr-image {
  width: 320px;
  padding: 10px;
}