@import "../css/mixins.css";

.cms-meta-header {
  padding: var(--gutter-sm) calc(var(--gutter-xs) + var(--gutter-sm));
  background-color: var(--light-1);
  border-bottom: 1px solid var(--light-2);

  @mixin dark-mode {
    border-top: 1px solid var(--black);
    border-bottom-color: transparent;
    background-color: var(--dark-3);
  }
}

/* filters heading */
.cms-meta-header-heading {
  display: inline-block;
  margin-right: 0.5em;
}
/* reset button */
.cms-meta-header-button {
  transition-property: color, background-color, border, opacity, transform;

  &[disabled] {
    opacity: 0;
    transform: scale(0.25);
  }
}
/* filters */
.cms-meta-controls {
  & > [class*="cms-"] {
    margin-bottom: var(--gutter-sm);
  }

  & .cms-filter-search {
    /* override filter search height */
    & > .cms-filter-search-input { height: 2rem; }
    & > .cms-filter-search-icon { top: 0.666em; }
  }

  @mixin min-xs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > [class*="cms-"] {
      margin-bottom: 0;
      flex: 1 0 50%;
      max-width: calc(50% - var(--gutter-sm));
    }
  }
}

/* the table */
.cms-meta-table-container {
  text-align: left;

  & .rt-tbody {
    max-height: calc(100vh - 7.125rem - 2px - var(--cms-nav-height) - var(--nav-height)); /* somewhat fudged */
  }

  & .rt-th:first-of-type .cp-table-header-button {
    padding-left: 0;
  }

  & .rt-th:first-of-type,
  & .rt-td:first-of-type {
    padding-left: calc(var(--gutter-xs) + var(--gutter-sm));
  }
  & .rt-th:last-of-type,
  & .rt-td:last-of-type {
    padding-right: calc(var(--gutter-xs) + var(--gutter-sm));
  }

  @mixin dark-mode {
    /* dark mode table overrides */
    & .cms-meta-table .rt-th,
    & .cms-meta-table .rt-td {
      border-color: var(--black);
      color: var(--white);
    }
    & .rt-thead.-headerGroups .rt-th { background-color: var(--dark-3); }
    & .rt-thead.-header .rt-th       { background-color: var(--dark-2); }
    & .rt-tbody .rt-tr.-odd .rt-td   { background-color: transparent; }
    & .rt-tbody .rt-tr.-even .rt-td  { background-color: color(var(--dark-3) a(0.5)); }
    & .rt-resizer                    { border-left-color: var(--light-3); }

    /* keep editable text visible */
    & [class*="editable-text-placeholder"] > [class*="editable-text-content"] {
      color: var(--gray);
    }
    & input[class*="editable"],
    & textarea[class*="editable"] {
      color: var(--black);
    }
  }
}

.cms-flickr-input {
  width: 300px;
}

.cms-flickr-image-container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.cms-flickr-image {
  width: 320px;
  padding: 10px;
}
