@import "../css/mixins.css";

/* layout */
.cms-metadata-page {
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  & .meta-editor,
  & .cms-meta-table-container,
  & .cms-meta-table {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  /* push pager to bottom */
  & .cms-meta-table {
    justify-content: space-between;
  }

  & .rt-tbody {
    max-height: none;
  }
}

.cms-meta-header {
  padding: var(--gutter-sm) calc(var(--gutter-xs) + var(--gutter-sm));
  background-color: var(--light-1);

  @mixin dark-mode {
    border-top: 1px solid var(--black);
    background-color: var(--dark-3);
  }
}

/* filters heading */
.cms-meta-header-heading {
  display: inline-block;
  margin-right: 0.5em;
}
/* reset button */
.cms-meta-header-button {
  transition-property: color, background-color, border, opacity, transform;

  &[disabled] {
    opacity: 0;
    transform: scale(0.25);
  }
}
/* filters */
.cms-meta-controls {
  & > [class*="cms-"] {
    margin-bottom: var(--gutter-sm);
  }

  & .cms-filter-search {
    /* override filter search height */
    & > .cms-filter-search-input { height: 2rem; }
    & > .cms-filter-search-icon { top: 0.666em; }
  }

  @mixin min-xs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > [class*="cms-"] {
      margin-bottom: 0;
      flex: 1 0 50%;
      max-width: calc(50% - var(--gutter-sm));
    }
  }
}

/* the table */
.cms-meta-table-container {
  text-align: left;
  background-color: var(--light-1);

  & .rt-th:first-of-type .cp-table-header-button {
    padding-left: 0;
  }

  & .rt-th:first-of-type .cp-table-header-button,
  & .rt-td:first-of-type {
    padding-left: calc(var(--gutter-xs) + var(--gutter-sm));
  }
  & .rt-td:last-of-type {
    padding-right: calc(var(--gutter-xs) + var(--gutter-sm));
  }

  /* theming */
  & .rt-tbody .rt-tr.-even .rt-td  { background-color: color(var(--white) a(0.5)); }
  & .rt-tbody { @mixin font-xxs; }
  & .-btn { @mixin cms-button-style; }
  & .-pageJump > input { @mixin cms-text-input-style; }
  & .-pageJump > * { margin: 0 0.125em; }
  & .-pagination { background-color: var(--light-1); }

  @mixin dark-mode {
    background-color: var(--black);

    & .cms-meta-table .rt-th,
    & .cms-meta-table .rt-thead .rt-th,
    & .cms-meta-table .rt-td {
      border-color: var(--black);
      color: var(--light-1);
    }
    & .rt-thead.-headerGroups .rt-th { background-color: var(--dark-3); }
    & .rt-thead.-header .rt-th       { background-color: var(--dark-2); }
    & .rt-tbody .rt-tr.-odd .rt-td   { background-color: transparent; }
    & .rt-tbody .rt-tr.-even .rt-td  { background-color: color(var(--dark-3) a(0.5)); }
    & .rt-resizer                    { border-left-color: var(--light-3); }

    /* keep editable text visible */
    & [class*="editable-text-placeholder"] > [class*="editable-text-content"] {
      color: var(--gray);
    }
    & input[class*="editable"],
    & textarea[class*="editable"] {
      color: var(--black);
    }
    & .-pagination { background-color: var(--dark-3); }
  }
}

.cms-flickr-input {
  width: 300px;
}

.cms-flickr-image-container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.cms-flickr-image {
  width: 320px;
  padding: 10px;
}
