@import "../../css/mixins.css";

/* keep button visible in overflow container */
.simple-generator-editor {
  padding-top: 0.5em;
  margin-top: -0.5em;
}

/* tables */
.cms-genrator-table {
  width: 100%;
  border-collapse: collapse;

  /* fake margin, because tables */
  & tbody + tbody {
    border-top: 1.5rem solid transparent;
  }

  & tr {
    vertical-align: top;

    & + tr {
      border-top: 1px solid var(--gray);
    }
  }

  & td {
    padding: 0.75rem;

    /* override padding on first & last cell */
    &:first-child { padding-left: 0; }
    &:last-child  { padding-right: 0; }
  }

  & .bp3-checkbox {
    margin-bottom: 0;
  }
}
