@import "../../css/mixins.css";

.variable-editor {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;

  & > *:not(:last-child),
  & .cms-viz-editor > *:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  & .cms-mode-switch-container {
    position: absolute;
    bottom: -2.25rem;
    left: 0;
  }

  & .bp3-label.bp3-inline {
    display: flex;

    & .label-text {
      display: inline-block;
      width: 100px;
    }

    & .bp3-select,
    & .bp3-input {
      flex: 1;
    }
  }
  & #generator-ace {
    display: flex;
    flex: 1;
    flex-direction: column;

    & .bp3-label p:last-child {
      margin-bottom: 0;
    }
    & .editor {
      flex: 1;
      margin-bottom: 10px;
    }
  }
}

.variable-editor-dialog {
  height: 100vh;
  margin-top: var(--nav-height);
  padding-bottom: 2.5rem !important; /* make room for footer */
  max-height: calc(100vh - 25px - var(--nav-height));
  max-width: calc(100% - 25px);

  & [class*="-dialog-body"] {
    @mixin vertical-overflow-container;
    max-height: calc(100vh - 10rem);
  }

  & .cms-ace-container:only-child {
    margin-bottom: -2rem;
  }

  & .cms-dialog-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/* help text */
/* TODO: move to tooltip */
.variable-editor-help > * {
  margin-top: 0;

  &:not(:last-child) {
    margin-bottom: 0.125em;
  }
}
