@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Roboto", sans-serif;
}


.default-style {
  transition: background-color 1s ease;
  & .bp3-navbar{
    transition: background-color 1s ease;
    & a{
      transition: color 1s ease;
    }
    & .bp3-navbar-divider{
      transition: background-color 1s ease;
    }
  }
  & #cart-test-container{
    transition: background-color 1s ease;
  }
  & .canon-add-to-cart-control-container{
    transition: background-color 1s ease, color 1s ease, padding 1s ease;
    &.remove-state{
      transition: background-color 1s ease, color 1s ease;
    }
  }
}

/* Custom styles */

#datachile-style{
  background-color: #eee;
  & .bp3-navbar{
    background-color: darkblue;
    & a{
      color: white;
    }
    & .bp3-navbar-divider{
      border-left-color: tomato;
    }
  }
  & #cart-test-container{
    background-color: tomato;
  }
  & .canon-add-to-cart-control-container{
    background-color: darkblue;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    &.remove-state{
      background-color: darkblue;
      color: #ccc;
    }
  }
  & .canon-cart-container {
    & .canon-cart-area-sidebar {
      background-color: tomato;
    }
    & .bp3-icon{
      & path{
        fill: white;
      }
    }
  }
}

#datamexico-style{
  background-color: #eee;
  & .bp3-navbar{
    background-color: tomato;
    & a{
      color: white;
    }
    & .bp3-navbar-divider{
      border-left-color: seagreen;
    }
  }
  & #cart-test-container{
    background-color: seagreen;
  }
  & .canon-add-to-cart-control-container{
    background-color: tomato;
    color: white;
    padding: 15px 20px;
    &.remove-state{
      background-color: tomato;
      color: #ccc;
    }
  }
  & .canon-cart-container {
    & .canon-cart-area-sidebar {
      background-color: tomato;
    }
    & .bp3-icon{
      & path{
        fill: white;
      }
    }
  }
}

#oec-style{
  background-color: #eee;
  & .bp3-navbar{
    background-color: steelblue;
    & a{
      color: white;
    }
    & .bp3-navbar-divider{
      border-left-color: white;
    }
  }
  & #cart-test-container{
    background-color: steelblue;
  }
  & .canon-add-to-cart-control-container{
    background-color: steelblue;
    color: white;
    padding: 5px 10px;
    &.remove-state{
      background-color: steelblue;
      color: #ccc;
    }
  }
  & .canon-cart-container {
    & .canon-cart-area-sidebar {
      background-color: steelblue;
    }
    & .bp3-icon{
      & path{
        fill: white;
      }
    }
  }
}
