.canon-cart-nav-control-popover{
  & .canon-cart-nav-control-content{
    width: 310px;
    & .canon-cart-nav-control-button-container{
      width: 100%;
      & .canon-cart-nav-control-button{

      }
    }
    & .canon-cart-nav-control-dataset-container{
      & .canon-cart-nav-control-dataset-item{
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.canon-cart-nav-control-container{
  & .canon-cart-nav-control-qty{

  }
  & .canon-cart-nav-control-text{

  }
}
