.area-loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  max-width: none;
  height: 100vh;
  color: var(--white);
  background-color: var(--dark);

  & .pt-non-ideal-state-visual {
    width: 100%;
    max-width: 200px;

    & .pt-progress-meter {
      background-color: var(--light);
    }
  }

  & .pt-non-ideal-state-title {
    color: var(--white);
  }
}
