.preview {
  width: 800px;

  & .pt-dialog-body {
    padding: 0px;
    margin: 0px;
  }

  & .preview-body {
    display: flex;
  }

  & .preview-panel {
    width: 240px;
    flex: 0 0 auto;
    height: 60vh;
    overflow-y: scroll;
    // background-color: #FAFAFA;
    & .viz {
      padding: 5px 0px;
      margin-bottom: 16px;
    }
  }

  & .preview-main {
    flex: 1 1;
    & .hide {
      display: none;
    }
    & .selected {
      display: block;
    }
  }
}

.viz-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;

  & .viz-card {
    box-shadow: -2px 0 30px 2px rgba(87, 87, 87, 0.15);
    flex: 0 1 calc(50% - 110px);
    margin-bottom: 20px;
    width: calc(50% - 20px);

    & .viz {
      padding: 30px 40px;
      min-width: calc(50% - 30px);
    }

    & .viz-footer {
      padding: 10px 20px;
      text-align: right;
      text-transform: uppercase;
    }
  }
}

.viz-card-wrapper {
  box-shadow: -2px 0 30px 2px rgba(87, 87, 87, 0.15);
  flex: 0 1 auto;
  margin-bottom: 20px;
  width: calc(100% - 30px);

  & .viz {
    padding: 30px 40px;
    min-width: calc(100% - 120px);
  }

  & .viz-footer {
    padding: 10px 20px;
    text-align: right;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 992px) {
  .viz-card {
    //background-color: blue;
    width: calc(100% - 20px) !important;
    flex: 0 1 calc(100% - 110px) !important;

    & .viz {
      min-width: calc(100% - 60px) !important;
    }
  }
}
