.nav {
  display: block;
  height: 100px;
  width: 100%;
  z-index: var(--foreground);
  & .logo {
    font-weight: 600;
    lost-column: 1/4;
    margin: 25px 15px;
    text-decoration: none;
    text-transform: uppercase;
  }
  & .link {
    lost-column: 1/4;
  }
  & .user-info {
    lost-column: 1/4;
    & .user-link {
      lost-column: 1/2;
    }
  }
}
