.nav {
  margin: 0 auto;
  position: absolute;
  left: 10%;
  top: 0;
  width: 80%;
  z-index: var(--foreground);

  & .logo {
    font-weight: 600;
    lost-column: 1/3;
    margin: 25px 15px;
    text-decoration: none;
    text-transform: uppercase;
  }

  & .link {
    lost-column: 1/3;
  }

}
