.cms-profile-picker {
  & ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
}

.cms-profile-name-box {
  width: 200px;
  height: 120px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.cms-profile-new-button {
  width: 100px;
  height: 100px;
}

.cms-card-cover-button {
  width:100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
