.cms-profile {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.cms-section-container {
  width: 100%;
  height: 300px;
}

.cms-droppable-container {
  width: 100%;
}

.cms-profile-add-section-button {

}


