/* BASE CMS STYLES */
.cms {
  min-height: 100vh; /* extend background on short pages */
  text-align: left; /* override canon */

  & * {
    position: relative;
  }

  & code {
    padding: 0.125em 0.5em;
  }

  /* these aren't links */
  & select, & button {
    cursor: default;
  }

  /* keep select menus from breaking outside of container */
  & select,
  & .pt-select {
    width: 100%;
    max-width: 100%;
  }

  /* override blueprint margin & apply to non label elements  */
  & label,
  & .pt-label {
    margin-bottom: 1rem;
  }

  /* 100% width elements by default */
  & .cms-field-container {

    /* reset label margin */
    & label {
      margin: 0 0.5em 0 0;
    }

    & > * {
      display: block;
      width: 100%; /* shouldn't be necessary, but it is */
    }
  }

  /* expects a label and an input */
  & .cms-field-container-inline {
    display: flex;
    align-items: center;

    /* override .cms-field-container defaults above */
    & > * {
      width: auto;
    }

    /* take up all the remaining space */
    & input {
      flex: 1 0 auto;

      & + button {
        margin-left: 0.5em;
      }
    }
  }

  /* space out adjacent fields & field groups */
  & .cms-field-container + .cms-field-container,
  & .cms-field-group + .cms-field-container,
  & .cms-field-group + .cms-field-group {
    margin-top: 1rem;
  }

  /* fix search */
  & .search {
    z-index: 2;
  }
  /* fix blueprint popover */
  & .pt-overlay-inline {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20; /* move to front */
    /* override container alignment */
    text-align: left;
    /* hide by default */
    display: none;

    &.pt-overlay-open {
      display: flex;
      position: fixed;
    }
  }
  & .pt-overlay-inline.pt-overlay-open > span {
    display: block;
    width: 100%;
    height: 100%;
  }

  /* dialogs */
  & .pt-dialog {
    width: auto;
    max-width: calc(100vw - 1rem);
    height: auto;
    max-height: none;
    padding-bottom: 0;
    border-radius: 4px;
  }
  & .pt-dialog-header {
    padding: 0.75rem 1.5rem;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
  & .pt-dialog-close-button {
    padding: 0.5rem 0.75rem;
    margin: -1rem;
    transition:
      color 0.1s ease-out,
      transform 0.1s ease-out;

    &:hover, &:focus {
      transform: scale(1.25);
    }
  }
  & .pt-dialog-body {
    margin: 0;
    padding: 1.5rem;
  }

  /* input group button overrides */
  & .pt-input-group .cms-button {
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0 2px 2px 0;
    margin: 0;
    height: 100%;
  }
}

/* buttons */
.cms-button {
  padding: 0.5em 2em;
  border-radius: 10em;
  transition:
    color 0.2s ease-out,
    background-color 0.2s ease-out,
    border-color 0.2s ease-out;

  /* override blueprint when both classes are in place */
  &.pt-button {
    box-shadow: none;
    background-image: none;
    &:hover {
      box-shadow: none;
    }
    &:active {
      border: none; /* fixes resizing bug when buttons are pressed */
    }
  }

  &:active {
    border-style: solid;
  }

  & .pt-icon {
    top: -1px;
  }
}
.cms-button-naked {
  background-color: transparent;
  border: none;
}

/* alerts */
.cms-alert {
  padding: 0.5em 1em;
  margin-bottom: 0;
}


/* --------------------------------------- */
/* LAYOUT */
/* --------------------------------------- */

/* offset main site nav */
.cms-nav {
  top: var(--nav-height);
  height: var(--cms-nav-height);
  overflow-x: auto;
  display: flex;
  z-index: 1;
  width: 100%;
  padding: 0 1rem;

  /* main nav "links" (they're actually buttons) */
  & .cms-nav-link {
    background: none;
    border: none;
    line-height: var(--cms-nav-height);
    padding: 0 1rem;
    margin-right: 0;
    outline: none;
    cursor: pointer; /* it's not a link, but it acts like one */
  }
  /* dark side / light side */
  & .cms-theme-select {
    padding: 0 1rem;
    line-height: var(--cms-nav-height);
    margin-left: auto;
    margin-bottom: 0; /* override default */

    /* inline select */
    & select {
      width: auto;
    }
  }
}

/* main panel wrapper */
.cms-panel {
  max-height: calc(100vh - var(--nav-height) - var(--cms-nav-height));
  top: var(--nav-height);
  /* overflow container */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* enable inertia scrolling */
}

/* sidebar */
.cms-sidebar {
  /* sizing */
  width: var(--sidebar-width);
  padding: 0.75rem 0;
  /* positioning */
  position: fixed;
  top: calc(var(--nav-height) + var(--cms-nav-height));
  left: 0;
  bottom: 0;
  /* overflow container */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* enable inertia scrolling */

  /* big add profile button */
  & > .cms-button {
    width: calc(100% - 1.5rem);
    left: 0.75rem;
    margin-bottom: 0.75rem;
  }

  /* make room for sidebar */
  & ~ .cms-editor {
    width: calc(100% - var(--sidebar-width));
    height: calc(100vh - var(--nav-height) - var(--cms-nav-height));
    left: var(--sidebar-width);
    /* overflow container */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* enable inertia scrolling */
  }
}

/* space out editor content */
.cms-editor {
  padding: 2rem;
}

/* pin status to upper right */
.cms-profile-picker > .cms-status {
  position: absolute;
  top: 0;
  right: 0;
}

.cms-editor-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  /* one child */
  & > * {
    width: 100%;

    /* 2+ children */
    &:not(:only-child) {
      min-width: 10rem;
      width: calc(50% - 1rem);
    }
  }
}


/* section headings */
.cms-section-heading {
  margin-top: 2rem;

  /* tighten up spaces between headings and card lists */
  & ~ .cms-card-list {
    margin-top: -0.25rem;
  }
}
.cms-section-heading-button {
  font-size: 0.5em;
  vertical-align: top;
  padding: 0;
  width: 1.9em;
  height: 1.9em;
  line-height: 1.9;
  margin-left: 0.5em;
}
