.cms {
  /* CUSTOM PROPERTIES */
  /* NOTE: these can be easily redefined to fit the client's branding */
  /* WARNING: if supporting IE, these straight up won't work */
  --white:   #ffffff;
  --light-1: #f8f9fa;
  --light-2: #e8eef1;
  --light-3: #cfdae2;
  --gray:    #aebdcc;
  --dark-1:  #8a97ae;
  --dark-2:  #596277;
  --dark-3:  #3e4455;
  --black:   #181a21;
  --accent:       #FFCD33;
  --accent-light: #FFD65B;
  --accent-dark:  #C4960B;
  --accent-black: #7F6516;
  --alert: #75224D;
  --alert-light: #992C64;
  --type-number: #8EB6FF;
  --type-string: #B9E28C;
  --type-error:  #DB64A6;
  --main-nav-height: 50px;
  --cms-nav-height:  2rem;
  --sidebar-width:  18rem;

  /* BASE CMS STYLES */
  background-color: #181a21; /* fallback */
  background-color: var(--black);
  color: #f8f9fa; /* fallback */
  color: var(--light-1);
  min-height: 100vh; /* extend background on short pages */
  text-align: left; /* override canon */

  & * {
    position: relative;
  }

  & h1, & h2, & h3, & h4, & h5, & h6 {
    color: #ffffff; /* fallback */
    color: var(--white);
  }

  & code {
    padding: 0.125em 0.5em;
  }

  /* reset loading style */
  & .loading {
    color: #f8f9fa; /* fallback */
    color: var(--light-1);
    background-color: #181a21; /* fallback */
    background-color: var(--black);
  }

  /* fix search */
  & .search {
    z-index: 1;
  }
  /* fix blueprint popover */
  & .pt-overlay-inline > span {
    display: block;
    top: -30px;
  }
}

/* buttons */
.cms-button {
  background-color: #C4960B; /* fallback */
  background-color: var(--accent-dark);
  border-color: #C4960B; /* fallback */
  border-color: var(--accent-dark);
  color: #ffffff; /* fallback */
  color: var(--white);
  padding: 0.5em 2em;
  border-radius: 10em;

  /* interactions */
  &:hover, &:focus {
    background-color: #7F6516; /* fallback */
    background-color: var(--accent-black);
    border-color: #7F6516; /* fallback */
    border-color: var(--accent-black);
  }

  &:active {
    border-style: solid;
  }

  & .pt-icon {
    top: -1px;
  }
}
.cms-button-naked {
  background-color: transparent;
  color: #C4960B; /* fallback */
  color: var(--accent-dark);
  border: none;

  /* interactions */
  &:hover, &:focus {
    color: #7F6516; /* fallback */
    color: var(--accent-black);
  }
}

/* alerts */
.cms-alert-color {
  color: #992C64; /* fallback */
  color: var(--alert-light);
}
.cms-alert {
  background-color: #75224D; /* fallback */
  background-color: var(--alert);
  padding: 0.5em 1em;
  margin-bottom: 0;
}


/* --------------------------------------- */
/* LAYOUT */
/* --------------------------------------- */

/* offset main site nav */
.cms-nav {
  top: 50px; /* fallback */
  top: var(--main-nav-height);
  height: 2rem; /* fallback */
  height: var(--cms-nav-height);
  background-color: #596277; /* fallback */
  background-color: var(--dark-2);
  overflow-x: auto;
  z-index: 1;
  width: 100%;
  padding-left: 1rem;
}
.cms-nav-link {
  background: none;
  border: none;
  color: #f8f9fa; /* fallback */
  color: var(--light-1);
  line-height: 2rem; /* fallback */
  line-height: var(--cms-nav-height);
  padding: 0 1rem;
  margin-right: 0;
  outline: none;

  &.is-active {
    color: #FFCD33; /* fallback */
    color: var(--accent);
    background-color: #3e4455; /* fallback */
    background: var(--dark-3);
  }

  &:hover, &:focus {
    color: #FFD65B; /* fallback */
    color: var(--accent-light);
  }
}

/* main panel wrapper */
.cms-panel {
  max-height: calc(100vh - 50px - 2rem); /* fallback */
  max-height: calc(100vh - var(--main-nav-height) - var(--cms-nav-height));
  top: 50px; /* fallback */
  top: var(--main-nav-height);
}

/* sidebar */
.cms-sidebar {
  /* sizing */
  width: 18rem; /* fallback */
  width: var(--sidebar-width);
  padding: 0.75rem 0;
  /* positioning */
  position: fixed;
  top: calc(50px + 2rem); /* fallback */
  top: calc(var(--main-nav-height) + var(--cms-nav-height));
  left: 0;
  bottom: 0;
  /* theming */
  background-color: #3e4455;
  background-color: var(--dark-3);
  /* overflow container */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* enable inertia scrolling */

  & > .cms-button {
    width: calc(100% - 1.5rem);
    left: 0.75rem;
    margin-bottom: 0.75rem;
  }

  & + .cms-editor {
    width: calc(100% - 18rem); /* fallback */
    width: calc(100% - var(--sidebar-width));
    height: calc(100vh - 50px - 2rem); /* fallback */
    height: calc(100vh - var(--main-nav-height) - var(--cms-nav-height));
    left: 18rem; /* fallback */
    left: var(--sidebar-width);
    /* overflow container */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* enable inertia scrolling */
  }
}

.cms-editor {
  padding: 2rem;
}

.cms-section-heading-button {
  font-size: 0.5em;
  vertical-align: top;
  padding: 0;
  width: 1.9em;
  height: 1.9em;
  line-height: 1.9;
  margin-left: 0.5em;
}
