/* BASE CMS STYLES */
@media (prefers-dark-interface), (prefers-color-scheme: dark) {
  .cms {
    background-color: var(--black);
    color: var(--light-1);

    & h1, & h2, & h3, & h4, & h5, & h6 {
      color: var(--white);
    }

    /* reset loading style */
    & .loading {
      background-color: none;
      color: var(--light-1);
    }


    /* --------------------------------------- */
    /* COMPONENTS */
    /* --------------------------------------- */

    /* buttons */
    & .cms-button {
      background-color: var(--accent-dark);
      border-color: var(--accent-dark);
      color: var(--white);

      /* interactions */
      &:hover, &:focus {
        background-color: var(--accent-black);
        border-color: var(--accent-black);
      }
    }
    & .cms-button-naked {
      color: var(--accent-light);

      /* interactions */
      &:hover, &:focus {
        color: var(--accent);
      }
    }

    /* alerts */
    & .cms-alert-color {
      color: var(--alert-light);
    }
    & .cms-alert {
      background-color: var(--alert);
    }

    /* variables */
    & .cms-variable {
      &.number { color: var(--type-number); }
      &.string { color: var(--type-string); }
      &.undefined { color: var(--gray); }
      &.error { color: var(--type-error); }
    }

    /* muted text */
    & .cms-status.is-done,
    & .bp3-text-muted {
      color: var(--dark-1);
    }

    /* cards */
    & .cms-card {
      background-color: var(--dark-3);
      box-shadow: 0 5px 1rem 0.25rem var(--black);
      border-radius: 2px;

      /* reorder buttons */
      & .cms-reorder-button {
        background-color: var(--black);
        border-color: var(--black);

        &:hover, &:focus {
          background-color: var(--accent-black);
          border-color: var(--accent-black);
        }
      }
    }

    /* search */
    & .cms-search {
      & .bp3-popover-content {
        background-color: var(--black) !important;
      }

      /* results list */
      & .results {
        /* active state */
        &.active {
          background-color: var(--light-3);
        }
      }
      /* individual result item */
      & .result {
        display: block;

        & .result-link {
          background-color: var(--dark-1);
          color: var(--black);
        }

        /* interactions */
        &:hover, &:focus,
        &.highlighted {
          & .result-link {
            background-color: var(--dark-3);
            color: var(--accent);
          }
        }
      }

      /* empty state */
      & .no-results {
        color: var(--black);
      }
    }

    /* dialogs */
    & .bp3-dialog {
      background-color: var(--dark-3);
    }
    & .bp3-dialog-header {
      background-color: var(--dark-2);
    }
    & .bp3-dialog-close-button {
      color: var(--light-3);

      &:hover, &:focus {
        color: var(--white);
      }
    }
    & .cms-dialog-footer-button {
      color: var(--light-1);

      & .cms-dialog-footer-button-icon {
        color: var(--gray);
      }

      /* interactions */
      &:hover, &:focus {
        & .cms-dialog-footer-button-icon {
          color: var(--light-1);
        }
      }
    }


    /* --------------------------------------- */
    /* LAYOUT */
    /* --------------------------------------- */

    /* offset main site nav */
    & .cms-nav {
      background-color: var(--dark-2);
    }
    & .cms-nav-link {
      color: var(--light-1);

      &.is-active {
        color: var(--accent);
        background-color: var(--dark-3);
      }

      &:hover, &:focus {
        color: var(--accent-light);
      }
    }

    /* sidebar */
    & .cms-sidebar {
      background-color: var(--dark-3);
      color: var(--light-1);
      box-shadow: 0 0 1rem var(--black);

      & .bp3-tree-node-content:hover,
      & .bp3-tree-node-content .bp3-tree-node-caret:hover,
      & .bp3-tree-node-content .bp3-tree-node-cog:hover {
        color: var(--accent-light);
      }

      & .bp3-tree-node-selected > .bp3-tree-node-content {
        background-color: var(--black);
        color: var(--accent-light);
      }
    }
  }
}
