/* BASE CMS STYLES */
.cms {
  background-color: var(--light-1);
  color: var(--black);

  & h1, & h2, & h3, & h4, & h5, & h6 {
    color: var(--black);
  }

  /* reset loading style */
  & .loading {
    background-color: none;
    color: var(--black);
  }


  /* --------------------------------------- */
  /* COMPONENTS */
  /* --------------------------------------- */

  /* buttons */
  & .cms-button {
    background-color: var(--accent-dark);
    border-color: var(--accent-dark);
    color: var(--white);

    /* interactions */
    &:hover, &:focus {
      background-color: var(--accent-black);
      border-color: var(--accent-black);
    }
  }
  & .cms-button-naked {
    color: var(--accent-dark);

    /* interactions */
    &:hover, &:focus {
      color: var(--accent-black);
    }
  }

  /* alerts */
  & .cms-alert-color {
    color: var(--alert-light);
  }
  & .cms-alert {
    background-color: var(--alert);
  }

  /* muted text */
  & .cms-status.is-done,
  & .bp3-text-muted {
    color: var(--dark-2);
  }

  /* variables */
  & .cms-variable {
    &.number { color: var(--type-number-dark); }
    &.string { color: var(--type-string-dark); }
    &.undefined { color: var(--dark-2); }
    &.error { color: var(--type-error-dark); }
  }

  /* cards */
  & .cms-card {
    background-color: var(--white);
    box-shadow: 0 5px 1rem 0.25rem var(--light-2);
    border-radius: 2px;

    /* reorder buttons */
    & .cms-reorder-button {
      background-color: var(--gray);
      border-color: var(--gray);

      /* interactions */
      &:hover, &:focus {
        background-color: var(--accent-black);
        border-color: var(--accent-black);
      }
    }
  }

  /* search */
  & .cms-search {
    & .bp3-popover-content {
      background-color: var(--white) !important;
    }

    /* results list */
    & .results {
      /* active state */
      &.active {
        background-color: var(--dark-1);
      }
    }
    /* individual result item */
    & .result {
      display: block;

      & .result-link {
        background-color: var(--light-2);
        color: var(--dark-3);
      }

      /* interactions */
      &:hover, &:focus,
      &.highlighted {
        & .result-link {
          background-color: var(--light-1);
          color: var(--accent-black);
        }
      }
    }

    /* empty state */
    & .no-results {
      color: var(--white);
    }
  }

  /* dialogs */
  & .bp3-dialog {
    background-color: var(--white);
  }
  & .bp3-dialog-header {
    background-color: var(--light-2);
  }
  & .bp3-dialog-close-button {
    color: var(--dark-2);

    &:hover, &:focus {
      color: var(--accent-black);
    }
  }
  & .cms-dialog-footer-button {
    color: var(--dark-3);

    & .cms-dialog-footer-button-icon {
      color: var(--dark-1);
    }

    /* interactions */
    &:hover, &:focus {
      & .cms-dialog-footer-button-icon {
        color: var(--dark-3);
      }
    }
  }


  /* --------------------------------------- */
  /* LAYOUT */
  /* --------------------------------------- */

  /* offset main site nav */
  & .cms-nav {
    background-color: var(--light-3);
  }
  & .cms-nav-link {
    color: var(--black);

    &.is-active {
      color: var(--accent-black);
      background-color: var(--white);

      &:hover, &:focus {
        color: var(--accent-dark);
      }
    }

    &:hover, &:focus {
      color: var(--accent-black);
    }
  }

  /* sidebar */
  & .cms-sidebar {
    background-color: var(--white);
    color: var(--dark-3);
    box-shadow: 0 0 1rem var(--light-2);

    & .bp3-tree-node-content:hover,
    & .bp3-tree-node-content .bp3-tree-node-caret:hover,
    & .bp3-tree-node-content .bp3-tree-node-cog:hover {
      color: var(--accent-black);
    }

    & .bp3-tree-node-selected > .bp3-tree-node-content {
      background-color: var(--accent-black);
      color: var(--white);
    }
  }
}
