@import "./mixins.css";

.cms {
  /* these aren't links */
  & select, & button {
    cursor: default;
  }

  /* keep select menus from breaking outside of container */
  & select,
  & .bp3-select {
    width: 100%;
    max-width: 100%;
  }

  /* override blueprint margin & apply to non label elements  */
  & label,
  & .bp3-label {
    margin-bottom: 1rem;
  }

  /* mimic blueprint style for now */
  & .bp3-label > .cms-button-group {
    margin-top: 5px;
  }

  & ul.cms-field-container {
    padding-left: 0;
  }

  /* 100% width elements by default */
  & .cms-field-container {

    /* reset label margin */
    & label {
      margin: 0 0.5em 0 0;
    }

    & > * {
      display: block;
      width: 100%; /* shouldn't be necessary, but it is */
    }

    /* reset above */
    & > .bp3-switch {
      display: inline-block;
      width: auto;
    }
  }

  /* expects a label and an input */
  & .cms-field-container-inline {
    display: flex;

    /* override .cms-field-container defaults above */
    & > * {
      width: auto;
    }

    /* take up all the remaining space */
    & input {
      flex: 1 0 auto;

      & + .cms-button {
        min-width: 8rem;
      }
    }
  }

  /* grouped inputs */
  & .cms-field-group {
    columns: 2;
    column-width: 18rem;
    column-gap: 2rem;

    /* fixes pesky multicolumn box-shadow bug */
    & > * {
      padding-top: 1px;
    }
  }

  /* space out adjacent fields & field groups */
  & .cms-field-container + *,
  & .cms-field-group + * {
    margin-top: 1rem;
  }
}

/* currently used only for grouping radio buttons & checkboxes */
.cms-fieldset {
  /* override browser defaults */
  border: none;
  padding: 0.25rem 0 0 0;

  & > .cms-checkbox-label {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5em;
    }
  }
}
