@import "./mixins.css";

/* --------------------------------------- */
/* PANEL MACRO LAYOUT */
/* --------------------------------------- */

.cms {
  /* prevent absolute positioned elements (i.e., collapsed toolbars) from breaking outside of the body */
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  /* allow content to fill up the screen, and backgrounds to go beyond the screen */
  display: flex;
  flex-direction: column;
}

/* main panel wrapper */
.cms-panel {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  flex: 1 1 auto;
}

/* sidebar */
.cms-sidebar {
  /* sizing */
  width: 100%;
  /* positioning */
  z-index: 1;
  /* theming */
  background-color: var(--light-1);
  color: var(--dark-3);
  box-shadow: 1px 0 0 var(--light-2);

  @mixin dark-mode {
    background-color: var(--dark-2);
    color: var(--light-1);
    box-shadow: 0 0 1rem var(--black);
  }

  & > .cms-button-container {
    padding: var(--gutter-xs);
    border-top: 1px solid var(--light-2);
    border-bottom: 1px solid var(--light-2);

    @mixin dark-mode {
      background-color: var(--dark-3);
      border-color: var(--black);
    }
  }
}

/* editor */
.cms-editor {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;

  @mixin max-lg {
    display: block;
    height: auto;
  }
}

/* 2 col layout */
@mixin min-sm {
  .cms-sidebar {
    width: var(--sidebar-width);
    padding-bottom: 0.75rem;

    & .cms-tree {
      position: sticky;
      top: 0;
    }

    /* adjacent editor */
    & ~ .cms-editor {
      width: calc(100% - var(--sidebar-width));
      max-width: calc(100% - var(--sidebar-width));
    }
  }
}

/* toolbar layout */
.cms-editor-inner,
.cms-toolbox {
  padding: var(--gutter-md);
}
@mixin min-lg {
  .cms-editor-inner {
    width: 100%;
    padding: 2rem;
    will-change: width;
    transition: width 0.2s ease-out;
  }
  /* make room for toolbox */
  .cms-multicolumn-editor .cms-editor-inner {
    width: calc(100% - var(--toolbox-width));
  }
  .cms-toolbox {
    /* sizing */
    width: var(--toolbox-width);
    min-width: var(--toolbox-width);
    height: 100%;
    max-height: 100vh;
    /* positioning */
    position: sticky;
    top: 0;
    right: 0;
    left: auto;
    /* handle overflow */
    @mixin vertical-overflow-container;
  }
}


/* --------------------------------------- */
/* EDITOR */
/* --------------------------------------- */

/* meta fields */
.cms-editor-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: -2px;
  padding: 1.5rem 0 0.5rem 0;
  /* theming */
  background-color: var(--light-1);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid var(--light-2);

  @mixin dark-mode {
    background-color: var(--dark-2);
    border-color: transparent;
    border-top-color: var(--dark-3);
  }

  /* one child */
  & > * {
    width: 100%;
    margin-left: 1.25rem;
    margin-right: 1.25rem;

    /* 2+ children */
    &:not(:only-child) {
      width: auto;
      flex: 1 1 16rem;
    }
  }
}

@keyframes unfold-from-above {
  0% {
    transform:
      scaleX(0.75)
      scaleY(0.625)
      translateX(10%)
      translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
