@import "./mixins.css";

/* --------------------------------------- */
/* LAYOUT */
/* --------------------------------------- */

/* offset main site nav */
.cms-nav {
  top: var(--nav-height);
  height: var(--cms-nav-height);
  overflow-x: auto;
  display: flex;
  z-index: 1;
  width: 100%;
  padding: 0 1rem;
  /* theming */
  background-color: var(--light-3);

  @mixin dark-mode {
    background-color: var(--dark-2);
  }


  /* main nav "links" (they're actually buttons) */
  & .cms-nav-link {
    background: none;
    border: none;
    line-height: var(--cms-nav-height);
    padding: 0 1rem;
    margin-right: 0;
    outline: none;
    cursor: pointer; /* it's not a link, but it acts like one */
    /* theming */
    color: var(--black);

    @mixin dark-mode {
      color: var(--light-1);
    }

    &.is-active {
      color: var(--accent-black);
      background-color: var(--white);

      @mixin dark-mode {
        color: var(--accent);
        background-color: var(--dark-3);
      }

      &:hover, &:focus {
        color: var(--accent-dark);

        @mixin dark-mode {
          color: var(--accent-light);
        }
      }
    }
  }
  & .cms-nav-options {
    margin-left: auto;

    & .cms-nav-options-divider {
      opacity: 0.25;
      margin: 0 0.5rem;
    }
  }
  /* options */
  & .cms-locale-select,
  & .cms-theme-select {
    padding: 0 0.5rem;
    line-height: var(--cms-nav-height);
    margin-bottom: 0; /* override default */

    /* inline select */
    & select {
      margin-left: 0.25em;
      width: auto;
    }
  }
}

/* main panel wrapper */
.cms-panel {
  max-height: calc(100vh - var(--nav-height) - var(--cms-nav-height));
  top: var(--nav-height);
  /* overflow container */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* enable inertia scrolling */
}

/* sidebar */
.cms-sidebar {
  /* sizing */
  width: var(--sidebar-width);
  padding: 0.75rem 0;
  /* positioning */
  position: fixed;
  top: calc(var(--nav-height) + var(--cms-nav-height));
  left: 0;
  bottom: 0;
  /* overflow container */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* enable inertia scrolling */
  /* theming */
  background-color: var(--white);
  color: var(--dark-3);
  box-shadow: 0 0 1rem var(--light-2);

  @mixin dark-mode {
    background-color: var(--dark-3);
    color: var(--light-1);
    box-shadow: 0 0 1rem var(--black);
  }

  /* big add profile button */
  & > .cms-button {
    width: calc(100% - 1.5rem);
    left: 0.75rem;
    margin-bottom: 0.75rem;
  }

  /* make room for sidebar */
  & ~ .cms-editor {
    width: calc(100% - var(--sidebar-width));
    height: calc(100vh - var(--nav-height) - var(--cms-nav-height));
    left: var(--sidebar-width);
    /* overflow container */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* enable inertia scrolling */
  }
}

/* specificity increase needed to override blueprint */
.cms .cms-sidebar {
  & .bp3-tree-node-content:hover,
  & .bp3-tree-node-content .bp3-tree-node-caret:hover,
  & .bp3-tree-node-content .bp3-tree-node-cog:hover {
    color: var(--accent-black);

    @mixin dark-mode {
      color: var(--accent-light);
    }
  }

  & .bp3-tree-node-selected > .bp3-tree-node-content {
    background-color: var(--accent-black);
    color: var(--white);

    @mixin dark-mode {
      background-color: var(--black);
      color: var(--accent-light);
    }
  }
}

/* space out editor content */
.cms-editor {
  padding: 2rem;
}

/* pin status to upper right */
.cms-profile-picker > .cms-status {
  display: block;
  text-align: right;
}

.cms-editor-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  /* one child */
  & > * {
    width: 100%;

    /* 2+ children */
    &:not(:only-child) {
      min-width: 10rem;
      width: calc(50% - 1rem);
    }
  }
}
