@import "./mixins.css";

/* --------------------------------------- */
/* NAV BAR */
/* --------------------------------------- */

.cms-nav {
  /* offset main site nav */
  top: var(--nav-height);
  /* sizing */
  width: 100%;
  height: var(--cms-nav-height);
  /* layout */
  padding-left: 0.5rem;
  padding-right: 1rem;
  display: flex;
  /* positioning */
  z-index: 3;
  /* theming */
  background-color: var(--light-1);
  box-shadow: 0 1px 0 var(--light-2);

  @mixin dark-mode {
    background-color: var(--dark-3);
    box-shadow: none;
  }

  /* main nav "links" (they're actually buttons) */
  & .cms-nav-link {
    /* reset button style */
    @mixin button-reset;
    cursor: pointer; /* it's not a link, but it acts like one */
    /* sizing */
    line-height: var(--cms-nav-height);
    padding: 0 0.75rem;
    /* title case */
    text-transform: capitalize;
    /* theming */
    outline: none;
    color: var(--dark-1);

    &:not(.is-active):hover,
    &:not(.is-active):focus {
      color: var(--dark-2);

      @mixin dark-mode {
        color: var(--gray);
      }
    }

    /* divider */
    &:not(:last-of-type):after {
      content: "";
      display: block;
      /* sizing */
      width: 1px;
      height: 1.375em;
      /* positioning */
      position: absolute;
      top: 1rem;
      right: 0;
      /* theming */
      background: var(--light-3);

      @mixin dark-mode {
        background-color: var(--dark-2);
      }
    }

    /* current page */
    &.is-active {
      color: var(--dark-3);

      @mixin dark-mode {
        color: var(--white);
      }
    }
  }

  /* languages */
  & .cms-nav-settings-button-container {
    margin-left: auto;
    display: inline-flex;
  }

  & .cms-nav-settings-button {
    margin: auto;
    z-index: 2;
  }

  & .cms-nav-settings {
    position: absolute;
    padding: 1.25rem 1.25rem 0.5rem 1.25rem;
    top: 0;
    right: 0.375rem;
    width: 18.75rem;
    max-width: calc(100% - 0.75rem);
    /* theming */
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid var(--light-2);

    @mixin dark-mode {
      background-color: var(--black);
      border-color: var(--dark-3);
    }

    &.is-hidden {
      display: none;
    }
  }

  /* fudge add profile/story button into place */
  & ~ .cms-button {
    position: absolute;
    top: var(--nav-height);
    margin-top: 0.875rem;
    z-index: 3; /* above nav */
    left: 11.75rem;

    /* needs a different magic number because it has a different width */
    &.cms-add-story-button {
      left: 12.125rem;
    }
  }
}


/* --------------------------------------- */
/* PANEL MACRO LAYOUT */
/* --------------------------------------- */

/* main panel wrapper */
.cms-panel {
  max-height: calc(100vh - var(--nav-height) - var(--cms-nav-height));
  top: var(--nav-height);
  /* overflow container */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* enable inertia scrolling */
}


/* sidebar */
.cms-sidebar {
  /* sizing */
  width: 100%;
  /* theming */
  background-color: var(--light-1);
  color: var(--dark-3);
  box-shadow: 1px 0 0 var(--light-2);

  @mixin dark-mode {
    background-color: var(--dark-2);
    color: var(--light-1);
    box-shadow: 0 0 1rem var(--black);
  }
}

/* editor */
.cms-editor {
  padding: 2rem;
  width: 100%;
  max-width: 100%;

  & .cms-deck:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

/* 2 col layout */
@mixin min-sm {
  .cms-sidebar {
    width: var(--sidebar-width);
    padding-bottom: 0.75rem;
    /* positioning */
    position: fixed;
    top: calc(var(--nav-height) + var(--cms-nav-height));
    left: 0;
    bottom: 0;
    /* overflow container */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* enable inertia scrolling */
  }
  /* adjacent editor */
  .cms-sidebar ~ .cms-editor {
    width: calc(100% - var(--sidebar-width));
    height: calc(100vh - var(--nav-height) - var(--cms-nav-height));
    /* offset sidebar */
    left: var(--sidebar-width);
    /* overflow container */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* enable inertia scrolling */
  }
}


/* --------------------------------------- */
/* EDITOR */
/* --------------------------------------- */

/* meta fields */
.cms-editor-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: -2px;
  padding: 1.5rem 0 0.5rem 0;
  /* theming */
  background-color: var(--light-1);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid var(--light-2);

  @mixin dark-mode {
    background-color: var(--dark-2);
    border-color: transparent;
    border-top-color: var(--dark-3);
  }

  /* one child */
  & > * {
    width: 100%;
    margin-left: 1.25rem;
    margin-right: 1.25rem;

    /* 2+ children */
    &:not(:only-child) {
      width: auto;
      flex: 1 1 16rem;
    }
  }
}
