/* -----------------------------------
breakpoints
----------------------------------- */

/* mobile first */
@define-mixin min-xxl { @media (min-width: 1640px) { @mixin-content; } }
@define-mixin min-xl  { @media (min-width: 1400px) { @mixin-content; } }
@define-mixin min-lg  { @media (min-width: 1200px) { @mixin-content; } }
@define-mixin min-md  { @media (min-width: 992px)  { @mixin-content; } }
@define-mixin min-sm  { @media (min-width: 768px)  { @mixin-content; } }
@define-mixin min-xs  { @media (min-width: 480px)  { @mixin-content; } }
@define-mixin min-xxs { @media (min-width: 400px)  { @mixin-content; } }

/* max-width first */
@define-mixin max-xl  { @media (max-width: 1399px) { @mixin-content; } }
@define-mixin max-lg  { @media (max-width: 1199px) { @mixin-content; } }
@define-mixin max-md  { @media (max-width: 991px)  { @mixin-content; } }
@define-mixin max-sm  { @media (max-width: 767px)  { @mixin-content; } }
@define-mixin max-xs  { @media (max-width: 479px)  { @mixin-content; } }
@define-mixin max-xxs { @media (max-width: 399px)  { @mixin-content; } }

/* target IE 11+ */
/* NOTE: since this is a media query, it can't be nested in a traaditional media query */
@define-mixin ie-only {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @mixin-content;
  }
}


/* -----------------------------------
typography
----------------------------------- */

/* type scaling */
@define-mixin font-xxxs { /* use sparingly */
  font-size: var(--font-xxxs); /* 8px */
}
@define-mixin font-xxs {
  font-size: var(--font-xxs); /* 10px */
}
@define-mixin font-xs {
  font-size: var(--font-xs); /* 12px */
}
@define-mixin font-sm {
  font-size: var(--font-sm); /* 14px */
}
@define-mixin font-md {
  font-size: var(--font-md); /* 16px */
}
@define-mixin font-lg {
  font-size: var(--font-lg); /* 20px */
}
@define-mixin font-xl {
  font-size: var(--font-xl); /* 24px */
}
@define-mixin font-xxl { /* use sparingly */
  font-size: var(--font-xxl); /* 24px */
}

/* font smoothing */
@define-mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* uppercase */
@define-mixin font-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* italic */
@define-mixin font-italic {
  font-style: italic;
  letter-spacing: 0.025em;
}

/* ellipsis */
/* NOTE: works best with defined width & height, 1 line of text */
@define-mixin overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* -----------------------------------
accessibility
----------------------------------- */

/* accessibly hidden text and elements */
@define-mixin visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* reset visually-hidden properties */
@define-mixin reset-visually-hidden {
  clip: auto;
  position: relative !important;
  height: auto;
  width: 100%;
  overflow: auto;
}


/* -----------------------------------
theming
----------------------------------- */

/* media query for dark mode */
/* NOTE: place immediately after default (light theme) css */
@define-mixin dark-mode {
  @media (prefers-dark-interface), (prefers-color-scheme: dark) {
    @mixin-content;
  }
}

@define-mixin label-color {
  color: var(--dark-1);
}

/* light gray text */
@define-mixin description-color {
  color: var(--dark-2);

  @mixin dark-mode {
    color: var(--dark-1);
  }
}

/* shadows */
@define-mixin cms-button-theming {
  background: var(--light-1); /* base */
  background-image: linear-gradient(
    180deg,
    color(var(--light-3) a(0.02)) 0%,
    color(var(--black) a(0.02)) 100%
  );
  color: var(--dark-2);

  @mixin dark-mode {
    background: var(--dark-2); /* base */
    background-image: linear-gradient(
      180deg,
      color(var(--light-3) a(0.02)) 0%,
      color(var(--black) a(0.02)) 100%
    );
    color: var(--dark-1);
  }
}
@define-mixin cms-button-shadow {
  box-shadow:
    0 1px 2px color(var(--black) a(0.1)),
    0 1px 8px color(var(--black) a(0.1)),
    inset 0 1px 0 color(var(--white) a(0.33));

  @mixin dark-mode {
    box-shadow:
      0 1px 4px color(var(--black) a(0.333)),
      0 4px 8px color(var(--black) a(0.2)),
      inset 0 1px 0 color(var(--dark-2) a(0.333));
  }

  &:hover, &:focus {
    box-shadow:
      0 1px 2px color(var(--black) a(0.1)),
      0 2px 8px color(var(--black) a(0.2)),
      inset 0 1px 0 color(var(--white) a(0.33));

    @mixin dark-mode {
      box-shadow:
        0 2px 4px color(var(--black) a(0.5)),
        0 2px 12px color(var(--black) a(0.333)),
        inset 0 1px 0 color(var(--dark-2) a(0.333));
    }
  }
}
@define-mixin cms-button-style {
  @mixin cms-button-theming;
  @mixin cms-button-shadow;
  border: none; /* reset browser default */
  border-radius: 10em;
  padding: 0.5em 1.25em;

  /* interactions */
  &:hover, &:focus {
    color: var(--accent-black);

    @mixin dark-mode {
      color: var(--accent-light);
    }

    & > .cms-button-icon {
      transform: scale(1.125);

      /* gears keep on turning */
      &[class*="cog"] {
         transform: scale(1.125) rotate(-30deg);
      }
      &[class*="trash"] {
        color: var(--alert);

        @mixin dark-mode {
          color: var(--alert-light);
        }
      }
    }
  }
}
@define-mixin disabled-button {
  cursor: not-allowed;
  pointer-events: none;
}
@define-mixin cms-disabled-button-style {
  box-shadow: none !important;
  background: var(--light-2) !important;
  color: var(--gray) !important;

  @mixin dark-mode {
    background: var(--black) !important;
    color: var(--dark-2) !important;
  }
}

/* dialog/alert overlay */
@define-mixin overlay-theme {
  @mixin button-reset;
  z-index: -1;

  &:focus {
    border: 2px solid var(--accent-dark);
    outline: none;
  }
}

/* text input */
@define-mixin cms-text-input-style {
  /* theming */
  background-color: var(--white);
  border: 1px solid var(--light-3);
  color: var(--dark-2);

  &::placeholder {
    @mixin font-smoothing;
    color: var(--gray);
  }

  @mixin dark-mode {
    background-color: color(var(--black) a(0.75));
    border-color: var(--black);
    color: var(--light-1);

    &::placeholder {
      color: var(--dark-1);
    }
  }
}


/* -----------------------------------
layout
----------------------------------- */

@define-mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* fill up all the space — make sure the parent has pos:rel */
@define-mixin absolute-expand {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
}

/* center elements the dumb but sometimes useful way */
@define-mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@define-mixin absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
@define-mixin absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

@define-mixin hide-scrollbars {
  &::-webkit-scrollbar {
    display: none;
  }
}

/* overflow with inertia scrolling */
@define-mixin overflow-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@define-mixin vertical-overflow-container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
@define-mixin horizontal-overflow-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}


/* -----------------------------------
resets
----------------------------------- */

/* list reset */
@define-mixin list-reset {
  list-style-type: none; /* remove bullets */
  padding-left: 0; /* thanks blueprint */
  margin-top: 0; /* thanks blueprint */
  margin-bottom: 0; /* thanks blueprint */
}

/* remove background & border from buttons */
/* NOTE: there's also border radius, padding, and box shadow */
@define-mixin button-reset {
  background: none;
  border: none;
}


/* -----------------------------------
print stylesheet helpers
----------------------------------- */

/* display an html attr as a pseudo element */
@define-mixin print-attr {
  display: inline-block; /* needed to make content display */
  /* positioning */
  position: relative;
  padding-left: 0.5em;
  /* theming */
  font-size: 0.5em;
  text-decoration: none; /* but it's small, so don't underline it */
}

/* -----------------------------------
CMS nav links & dropdowns
----------------------------------- */
@define-mixin cms-nav-link-theme {
  color: var(--dark-1);

  &:hover, &:focus, &.is-active {
    color: var(--dark-2);
    @mixin dark-mode { color: var(--light-2); }
  }

  /* dropdown toggled open */
  &.is-active {
    color: var(--dark-3);
    @mixin dark-mode { color: var(--light-1); }
    & path { fill: var(--accent); }
  }

  /* current page */
  &.is-selected {
    color: var(--black);
    @mixin dark-mode { color: var(--white); }
  }
}
@define-mixin cms-nav-toggle-transition {
  transition:
    background-color 0.2s ease-out,
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
}
@define-mixin cms-nav-closed-state {
  position: absolute;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  /* add a transform as well */
}

/* -----------------------------------
VarTable & VarList
----------------------------------- */
@define-mixin var-overflow {
  width: 100%;
  min-height: 1em;
  border-radius: 2px;
  /* handle overflow */
  display: block; /* needed to honor overflow */
  @mixin overflow-container;
  z-index: 1;
  /* theming */
  background-color: transparent;
  border: 1px solid var(--light-2);
  box-shadow: 0 1px 0.125rem 1px inset var(--light-1);
  color: var(--dark-3);

  /* DARK THEME */
  @mixin dark-mode {
    background-color: color(var(--black) a(0.75));
    border: 1px solid var(--dark-3);
    box-shadow: none;
    color: var(--light-3);
  }
}

@define-mixin var-row {
  padding: 0.25em 0.625em;
  /* typography */
  font-size: 0.625rem;
  line-height: 1.25;
  vertical-align: baseline;
}

@define-mixin error-text {
  color: var(--alert);

  @mixin dark-mode {
    color: var(--alert-light);
  }
}

/* -----------------------------------
meta editor images
----------------------------------- */
@define-mixin meta-editor-img-wrapper {
  background-color: var(--light-2);
  border: 1px solid var(--gray);
  transition: border 0.2s ease-out;

  @mixin dark-mode {
    background-color: color(var(--black) a(0.5));
    border-color: var(--black);
  }
}
