@import "./mixins.css";

/* TODO: redo all/most of this */
.cms-paragraphs {
  & p {
    margin-bottom: 0.25em;
  }
}

.cms-splash-section .cms-card {
  text-align: center;
}

.cms-label {
  top: -0.25rem;
}

/* tables */
.cms-table {
  width: 100%;
  border-collapse: collapse;

  /* fake margin, because tables */
  & tbody + tbody {
    border-top: 1.5rem solid transparent;
  }

  & tr {
    vertical-align: top;

    & + tr {
      border-top: 1px solid var(--gray);
    }
  }

  & td {
    padding: 0.75rem;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  & .bp3-checkbox {
    margin-bottom: 0;
  }
}


.cms-viz-editor {
  margin-top: 1em;
  height: auto; /* override vh */

  & .viz-dropdown-list {
    margin: 2rem 0;
    padding: 0;
    list-style: none;
    columns: 3;
    column-gap: 1.25rem;
  }
}
