.mantine-Prism-root .cr-variable {
  background-color: transparent !important;
  font-size: 11px;
  padding: 0;
  & > div {
    padding: 0;
  }
}

.cr-variable-accordion {
  & .mantine-Accordion-item {
    border-bottom: 0;
  }
  & .mantine-Accordion-control {
    padding: 2px;
  }
  & .mantine-Accordion-contentInner {
    padding: 0;
  }
  & .mantine-Accordion-icon {
    margin-right: 4px;
  }
}
