.cms-block-variable-list {
  width: 250px;
  background-color: white;
  border: 1px solid black;
  overflow-y: auto;
  padding: 5px;
  & ul {
    margin-top: 0px;
    padding-left: 0px;
  }
  & li {
    list-style: none;
    font-size: 13px;
  }
  margin-right: 10px;
}

.cr-variable-group:hover {
  outline: 1px solid blue;
}
