.mlsel-target-wrapper {
  display: block;
  cursor: pointer;
}

.mlsel-popover-content {
  .mlsel-filter-input {
  }

  .mlsel-filter-reset {
  }

  & .mlsel-filter-group {
    margin-bottom: 5px;
  }
}

.mlsel-select-list {
  & .select-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
