@import "../../css/mixins.css";

.cms.cms-auth-page {
  background-color: var(--light-2);

  @mixin dark-mode {
    background-color: var(--black);
  }
}

/* center form */
.cms-auth-form {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cms-auth-form-inner {
  width: 40rem;
  max-width: 100%;
  padding: 2rem;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 0.125rem 0.75rem color(var(--black) a(0.2));

  @mixin dark-mode {
    background-color: var(--dark-3);
  }
}

.cms-auth-form-title {
  margin-top: 0;
}



/* it's a button, but probably should be a link */
.cms .cms-auth-form-switcher {
  @mixin button-reset;
  cursor: pointer;
  padding: 0;
}

/* style links (and buttons disguised as links) */
.cms-auth-form-link,
.cms .cms-auth-form-switcher {
  text-decoration: underline;
  font-weight: 500;
  color: var(--accent-dark);

  &:hover, &:focus {
    color: var(--accent-black);
  }

  @mixin dark-mode {
    color: var(--accent);

    &:hover, &:focus {
      color: var(--accent-light);
    }
  }
}

.cms-auth-form-title,
.cms-auth-form-paragraph {
  @mixin min-md {
    text-align: center;
  }
}
