@import "../../css/mixins.css";

/* center form */
.cms-auth-form {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cms-auth-form-inner {
  width: 40rem;
  max-width: 100%;
  padding: 2rem;
  border-radius: 4px;

  @mixin dark-mode {
    background-color: var(--dark-3);
  }
}

.cms-auth-form-title {
  margin-top: 0;
}



/* it's a button, but probably should be a link */
.cms .cms-auth-form-switcher {
  @mixin button-reset;
  cursor: pointer;
  padding: 0;
}

/* style links (and buttons disguised as links) */
.cms-auth-form-link,
.cms .cms-auth-form-switcher {
  text-decoration: underline;
  font-weight: 500;
  color: var(--accent-dark);

  &:hover, &:focus {
    color: var(--accent-black);
  }

  @mixin dark-mode {
    color: var(--accent);

    &:hover, &:focus {
      color: var(--accent-light);
    }
  }
}

.cms-auth-form-title,
.cms-auth-form-paragraph {
  @mixin min-md {
    text-align: center;
  }
}

@keyframes appear-from-below {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
