@import "../../css/mixins.css";

.cms-deck:not(:last-of-type) {
  margin-bottom: 1.25rem;
}

/* collapsed state */
.cms-deck.is-collapsed .cms-deck-heading {
  & > .cms-deck-button {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    & > .cms-deck-button-icon > svg {
      transform: rotate(-90deg);
    }
  }

  & .cms-deck-heading-add-button {
    @mixin visually-hidden;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }

  & ~ * {
    display: none;
  }
}

.cms-deck-button-icon {
  color: var(--dark-1);
  transition: color 0.15s ease-out;

  /* transitions */
  & > svg {
    transition: transform 0.15s ease-out;
  }
}

.cms-deck-button:hover > .cms-deck-button-icon,
.cms-deck-button:focus > .cms-deck-button-icon {
  color: var(--dark-3);

  @mixin dark-mode {
    color: var(--light-3);
  }
}

/* section headings */
.cms-deck-heading {
  margin-top: 0;
  margin-bottom: 0;
  height: 2.5rem;
}

.cms-deck-heading > .cms-deck-button {
  @mixin absolute-expand;
  text-align: left;
  padding-left: 1.25rem;
  /* reset default button style */
  background: var(--light-2);
  background-image: linear-gradient(
    180deg,
    color(var(--light-2) a(0.333)) 0%,
    color(var(--light-3) a(0.333)) 100%
  );
  border: 1px solid color(var(--light-3) a(0.333));
  box-shadow: inset 0 1px 0 color(var(--white) a(0.5));
  border-radius: 4px 4px 0 0;

  @mixin dark-mode {
    background: var(--black);
    border-color: var(--dark-2);
    box-shadow: none;
    color: var(--light-3);
  }
}

@mixin dark-mode {
  .cms-editor .cms-deck-button {
    background: var(--dark-3);
  }
}

.cms-deck-button > .cms-deck-button-icon {
  @mixin absolute-vertical-center;
  width: 0.875rem;
  left: 0.2rem;
  margin-top: -1px;
}

/* add button */
.cms-deck-heading > .cms-deck-heading-add-button {
  @mixin absolute-vertical-center;
  right: 0.375rem;
  left: auto;
  transition: opacity 0.075s ease-out 0.05s;
}

/* descriptions */
.cms-card.cms-deck-description {
  @mixin description-color; /* theming */
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.125;
  border-radius: 0 !important;
}

.cms-deck .cms-deck-subtitle {
  margin-top: 0;
  margin-bottom: -0.75rem;
  z-index: 1;
  padding: 0.5rem 1.25rem 0 1.25rem;
  /* theming */
  background-color: var(--light-1);
  border-left: 1px solid var(--light-2);
  border-right: 1px solid var(--light-2);

  @mixin dark-mode {
    background-color: var(--dark-2);
    border-color: transparent;
  }
}

.cms-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* add padding around containers in main content area */
.cms-editor .cms-card-container {
  padding: 1.25rem;
  /* theming */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--light-1);
  border: 1px solid var(--light-2);
  border-top-color: transparent;

  @mixin dark-mode {
    background-color: var(--dark-2);
    border-color: var(--dark-2);
  }

  & > .cms-card-list {
    border-top: 1px solid var(--light-2);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    @mixin dark-mode {
      border-top-color: var(--dark-2);
    }
  }
}

/* card layout */
.cms-card-list {
  display: flex;
  width: calc(50% - 1rem);
  flex-basis: calc(50% - 1rem); /* needed because reasons */
  flex-wrap: wrap;

  &:only-child {
    width: 100%;
    flex-basis: 100%; /* needed because reasons */
  }
}
