@import "../../css/mixins.css";

.cms-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;

  /* main title */
  & .cms-header-title {
    margin-top: 0;
    font-weight: 500;

    /* preceeds section title */
    & > .cms-header-title-parent {
      font-weight: 300;
      color: var(--dark-1);
    }

    /* main title text */
    & > .cms-header-title-main {
      color: var(--accent-black);
      display: inline-block; /* keep with icon */

      @mixin dark-mode {
        color: var(--accent-light);
      }
    }

    /* edit title button */
    & .cms-header-title-button {
      margin-left: 0.5em; /* space out from title */
      margin-right: 1.25rem; /* space out from link */
      top: -1px;
    }
  }


  /* link to profile */
  & .cms-header-link-container {
    margin-bottom: 1.25rem;
    color: var(--dark-1);
    /* transitions */
    transition: border 0.2s ease-out;
    /* theming */
    color: var(--dark-2);

    @mixin dark-mode {
      color: var(--gray);
    }
  }

  /* reset actual link */
  & .cms-header-link {
    text-decoration: none;
    color: inherit;
    /* "border" */
    background-position: 0 calc(1em + 2px);
    padding-bottom: 2px;
    background-size: 1px;
    background-image: linear-gradient(var(--light-3) 50%, var(--light-3) 50%);
    background-repeat: repeat-x;

    @mixin dark-mode {
      background-image: linear-gradient(var(--dark-2) 50%, var(--dark-2) 50%);
    }

    /* interactions */
    &:hover, &:focus {
      background-image: linear-gradient(var(--accent-dark) 50%, var(--accent-dark) 50%);

      @mixin dark-mode {
        background-image: linear-gradient(var(--accent) 50%, var(--accent) 50%);
      }
    }
  }

  /* highlight preview id */
  & .cms-header-link-id,
  & .cms-header-link-slug {
    font-weight: 600;
    color: var(--dark-3);

    @mixin dark-mode {
      color: var(--light-1);
    }
  }

  /* position non-button icons */
  & .bp3-editable-text + [class*="icon"] {
    @mixin absolute-vertical-center;
    left: auto;
    right: -0.625em;
    margin-top: 1px;
    width: 0.75em;
  }

  /* hide icon when editing */
  & [class*="-editing"] + [class*="icon"]{
    opacity: 0;
  }
  /* reset font size */
  & [class*="-editing"] > * {
    font-size: inherit;
  }
}
