@import "../../css/mixins.css";

.cms-navbar {
  /* sizing */
  width: 100%;
  min-height: var(--cms-nav-height);
  /* layout */
  padding-left: 0.5rem;
  padding-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  /* positioning */
  top: 0;
  z-index: 3;
  /* theming */
  background-color: var(--light-1);
  box-shadow: 0 1px 0 var(--light-2);

  @mixin dark-mode {
    background-color: var(--dark-3);
    box-shadow: none;
  }
}

.cms-navbar-title-button,
.cms-navbar-entity-settings-button {
  @mixin button-reset;
  color: inherit;
}

/* main nav "links" (they're actually buttons) */
.cms-navbar-list {
  @mixin list-reset;
  margin-left: auto;
}
.cms-navbar-item {
  display: inline-block;
}
.cms-navbar-link {
  /* reset button style */
  @mixin button-reset;
  cursor: pointer; /* it's not a link, but it acts like one */
  /* sizing */
  line-height: var(--cms-nav-height);
  padding: 0 0.75rem;
  /* title case */
  text-transform: capitalize;
  /* theming */
  outline: none;
  color: var(--dark-1);

  &:not(.is-active):hover,
  &:not(.is-active):focus {
    color: var(--dark-2);

    @mixin dark-mode {
      color: var(--gray);
    }
  }

  /* divider */
  &:not(:last-of-type):after {
    content: "";
    display: block;
    /* sizing */
    width: 1px;
    height: 1.375em;
    /* positioning */
    position: absolute;
    top: 1rem;
    right: 0;
    /* theming */
    background: var(--light-3);

    @mixin dark-mode {
      background-color: var(--dark-2);
    }
  }

  /* current page */
  &.is-active {
    color: var(--dark-3);

    @mixin dark-mode {
      color: var(--white);
    }
  }
}

/* settings */
.cms-navbar-settings-button-container {
  display: inline-flex;
}
.cms-navbar .cms-navbar-settings-wrapper {
  position: static; /* fix overlay positioning */
  display: flex; /* fix button positioning */
}

.cms-navbar-settings-button {
  align-self: center;
  z-index: 2;
  outline: none;

  &.is-active {
    background: none;
    box-shadow: none;
  }
}

.cms-navbar-settings {
  padding: 1.25rem 1.25rem 0.5rem 1.25rem;
  top: 0;
  right: 0.375rem;
  width: 18.75rem;
  z-index: 1; /* in front of overlay */
  max-width: calc(100% - 0.75rem);
  /* theming */
  border-radius: 4px;
  background-color: var(--white);
  border: 1px solid var(--light-2);

  @mixin dark-mode {
    background-color: var(--black);
    border-color: var(--dark-3);
  }

  /* states */
  &.is-hidden {
    @mixin visually-hidden;
  }
  &.is-visible {
    position: absolute;
    animation: unfold-from-above 0.1s ease-out;
  }

  /* clickable overlay */
  & + .cms-navbar-settings-overlay {
    @mixin absolute-expand;
    @mixin button-reset;
    position: fixed;
    background-color: color(var(--black) a(0.875));
    transition:
      opacity 0.2s ease-out,
      background-color 0.2s ease-out;

    &.is-hidden {
      width: 0;
      height: 0;
      z-index: -1;
      opacity: 0;

      &:focus {
        outline: none;
      }
    }

    &.is-visible:focus {
      border: 2px solid var(--accent-dark);
    }
  }
}

/* bump up nav z-index when settings panel is open to keep in front of toolbox */
.cms-navbar.settings-visible {
  z-index: 10;

  /* prevent scrolling */
  & + .cms-panel {
    max-height: calc(100vh - var(--cms-nav-height));
    overflow: hidden;
  }
}
