@import "../../css/mixins";

/* quick and dirty layout */
@mixin min-lg {
  .cms-panel {
    will-change: width;
    transition: width 0.2s ease-out 0.4s;
  }
  .cms-panel:not(:last-child) {
    width: calc(100% - var(--toolbox-width));
    max-width: calc(100% - var(--toolbox-width));

    & ~ .cms-toolbox {
      position: absolute;
      width: var(--toolbox-width);
      padding: 1.25rem;
      height: 100%;
      max-height: calc(100vh - (var(--nav-height) + var(--cms-nav-height)));
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; /* enable inertia scrolling */
      box-shadow: -1px 0 0 var(--light-2); /* left "border" */
      /* positioning */
      top: var(--nav-height);
      right: 0;
      bottom: 0;
      left: auto;
    }
  }
  /* toolbox is a div */
  /* TODO: do this in a less hacky way */
  .cms-panel:nth-last-of-type(2) {
    width: 100%;
    max-width: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .cms-toolbox {
    width: calc(100% - var(--sidebar-width));
    margin-left: auto;
  }
}

.cms-toolbox {
  /* sizing */
  display: block;
  /* layout */
  margin-top: var(--cms-nav-height);
  padding: 2rem;
  /* theming */
  background-color: var(--light-1);
  box-shadow: 0 -1px 0 var(--light-2); /* top "border" */

  @mixin dark-mode {
    background-color: var(--dark-2);
    box-shadow: none !important;
  }

  & > .cms-filter-search {
    margin-bottom: 0.625rem;
  }
  & > .cms-button-group {
    margin-bottom: 1.25rem;
  }

  /* reset card widths */
  & .cms-card {
    min-width: 0;
    max-width: 100%;
  }

  /* collapsed state */
  &.is-hidden {
    background: none;
    box-shadow: none !important;
    transform: translateX(calc(100% - 2rem));
    transition:
      background-color 0.3s ease-out,
      box-shadow 0.3s ease-out,
      transform 0.3s ease-out;

    & .cms-toolbox-collapse-wrapper {
      left: 0.75rem;

      & ~ * {
        opacity: 0;
        z-index: -1;
        transform: translateX(25%);
        transition:
          opacity 0.3s ease-out,
          transform 0.3s ease-out;
      }
    }
    & .cms-toolbox-collapse-button:hover {
      transform: translateX(-0.125rem);
    }
  }

  &.is-visible .cms-toolbox-collapse-button {
    margin-top: calc(var(--cms-nav-height) + 2.5rem);
    background: var(--white);

    @mixin dark-mode {
      background: var(--black);
    }
    &:hover {
      transform: translateX(0.125rem);
    }
  }
}

/* toggle the toolbox */
.cms .cms-toolbox-collapse-wrapper {
  @mixin absolute-vertical-center;
  position: fixed;
  left: auto;
  right: calc(var(--toolbox-width) - 0.75rem);
  z-index: 1;
}
.cms-toolbox-collapse-button {
  box-shadow: none;
  transition-property: color, border, background-color, box-shadow, transform;

  &:focus {
    outline: none;
    border: 1px solid var(--accent);
  }
}

/* wrapper for all decks */
.cms-toolbox-deck-wrapper.is-hidden {
  /* in output view, hide everything except for edit dialogs */
  & .cms-deck-heading,
  & .cms-deck-description,
  & .cms-card {
    display: none;
  }
}

/* output view */
.cms-button-list {
  @mixin list-reset;
  animation: pull-up 0.25s ease-out;
}
.cms-button-item {
  &:not(:last-child) {
    margin-bottom: 0.5em;
  }

  & .cms-button {
    text-align: left;
    /* handle large output */
    border-radius: 0.5em;
    overflow: auto;
    max-height: 6em;
  }

  & .cms-variable {
    display: inline-block;
    margin-top: 0.5em;
  }
}

@keyframes pull-up {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
