@import "../../css/mixins.css";

/* shared button styles */
.cp-button,
.cms-button {
  position: relative;
  display: inline-block;
  text-align: center; /* for links disguised as buttons */
  /* transitions */
  transition:
    color 0.2s ease-out,
    border 0.2s ease-out,
    background-color 0.2s ease-out,
    box-shadow 0.2s ease-out;


  /* align icons & text */
  & > * {
    display: inline-block;

    &:not(:last-child) {
      margin-left: -0.25em;
      margin-right: 0.25em;
    }
  }

  /* hidden text */
  &[class*="-icon-only-button"] {
    padding: 0;
    width: 2em;
    height: 2em;

    /* override default margin */
    & > * {
      margin-right: 0;
    }
  }

  /* icon positioning */
  & > [class*="-button-icon"] {
    top: -1px;
    transition: transform 0.1s ease-out;

    /* icon sized by button font-size */
    &, & > svg {
      width: 1em;
      height: 1em;
    }

    & + [class*="-button-text"] {
      margin-left: 0.25em;
    }
  }

  &:not([class*="-icon-only-button"]) > [class*="-button-icon"]:last-child {
    margin-left: 0.25em;
    margin-right: -0.25em;
  }

  /* cover the whole container width */
  &[class*="-fill-button"] {
    display: block;
    width: 100%;
  }

  /* universal disabled state styles */
  &[disabled] {
    @mixin disabled-button;
  }

  /* rebuilding */
  &.is-rebuilding > [class*="-button-icon"] {
    animation: rotate 0.75s infinite ease-in-out;
  }
}


/* admin panel context */
.cms-button {
  @mixin cms-button-style;

  &[disabled] {
    @mixin cms-disabled-button-style;
  }
}


/* profile context */
.cp-button {
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  border: var(--button-border-width) solid var(--button-border-color);
  background-color: var(--button-bg-color);
  color: var(--button-color);

  &:hover,
  &:focus {
    background-color: var(--button-hover-bg-color);
    border-color: var(--button-hover-border-color);
    color: var(--button-hover-color);
  }

  /* make disabled non-cms buttons visually disabled */
  &[disabled] {
    opacity: 0.5;
  }
}
