@import "../../css/mixins.css";

/* shared filter search styles */
.cp-filter-search,
.cms-filter-search {
  display: block; /* honor margin */

  /* the input */
  & [class*="filter-search-input"] {
    font-size: 14px; /* prevent zooming on mobile */
    border-radius: 3em; /* fully rounded */
    /* sizing */
    width: 100%;
    height: 2.5rem;
    padding-left: 2rem;
    padding-right: 2.25rem;
    /* transitions */
    transition:
      border-color 0.3s ease-out,
      box-shadow 0.3s ease-out,
      color 0.3s ease-out;
  }

  /* filter icon */
  & > [class*="-filter-search-icon"] {
    /* positioning */
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    /* transitions */
    transition:
      color 0.3s ease-out,
      transform 0.15s ease-out;
  }

  /* label hover state */
  &:hover [class*="-filter-search-icon"] {
    transform: scale(1.125);
  }

  /* close button */
  & > [class*="-filter-search-close-button"] {
    /* positioning */
    @mixin absolute-vertical-center;
    right: 0.425rem;
    /* transitions */
    transition:
      color 0.1s ease-out,
      transform 0.1s ease-out;
    /* theming */
    @mixin button-reset;

    /* hidden state */
    &[tabindex="-1"] {
      opacity: 0;
    }

    &:hover, &:focus {
      transform: translateY(-50%) scale(1.25); /* scale up while keeping it vertically centered */
    }
  }
}


/* admin panel context */
.cms-filter-search {
  & > .cms-filter-search-input {
    /* theming */
    background-color: var(--white);
    border: 1px solid var(--light-3);
    color: var(--dark-2);

    &::placeholder {
      @mixin font-smoothing;
      color: var(--gray);
    }

    @mixin dark-mode {
      background-color: color(var(--black) a(0.75));
      border-color: var(--black);
      color: var(--light-1);

      &::placeholder {
        color: var(--dark-1);
      }
    }
  }

  /* filter icon */
  & > .cms-filter-search-icon {
    color: var(--dark-1);
  }

  /* label hover state */
  &:hover .cms-filter-search-input {
    border-color: var(--accent-dark);

    @mixin dark-mode {
      border-color: var(--accent);
    }
  }

  /* input focus state */
  & .cms-filter-search-input:focus {
    border-color: var(--accent-dark);
    box-shadow: 0 0 0 1px var(--accent-dark);
    outline: none;

    @mixin dark-mode {
      border-color: var(--accent);
      box-shadow: 0 0 0 1px var(--accent);
    }

    /* style adjacent search icon */
    & + .cms-filter-search-icon {
      color: var(--dark-2);

      @mixin dark-mode {
        color: var(--light-3);
      }
    }
  }

  /* close button */
  & > .cms-filter-search-close-button {
    color: var(--dark-1);

    &:hover, &:focus {
      outline: none;
      color: var(--dark-3);

      @mixin dark-mode {
        color: var(--light-2);
      }
    }
  }
}


/* profile context */
.cp-filter-search {
  & > .cp-filter-search-input {
    /* theming */
    background-color: var(--field-background-color);
    border: var(--field-border-width) solid var(--field-border-color);
    color: var(--field-color);

    &::placeholder {
      color: var(--field-placeholder-color);
    }
  }

  /* filter icon */
  & > .cp-filter-search-icon {
    color: var(--field-icon-color);
  }

  /* label hover state */
  &:hover .cp-filter-search-input {
    border-color: var(--field-focus-color);
  }

  /* input focus state */
  & .cp-filter-search-input:focus {
    border-color: var(--field-focus-color);
    box-shadow: 0 0 0 var(--field-border-width) var(--field-focus-color);
    outline: none;

    /* style adjacent search icon */
    & + .cp-filter-search-icon {
      color: var(--field-color);
    }
  }

  /* close button */
  & > .cp-filter-search-close-button {
    color: var(--field-icon-color);

    &:hover, &:focus {
      outline: none;
      color: var(--field-icon-hover-color);
    }
  }
}
