@import "../../css/mixins.css";

.cms-profilesearch {
  display: flex;
  flex-direction: column;
  width: 100%;

  & .cms-profilesearch-container {
    flex: 1 1 auto;
    @mixin vertical-overflow-container;
  }

  & .cp-input-label {
    position: relative;
    display: block;

    /* the main input */
    & .cp-input {
      /* sizing */
      padding: 0.25em 3em 0.375em 1.5em;
      width: 100%;
      /* theming */
      font-weight: var(--base-font-weight);
      background-color: transparent;
      /* border: 2px solid var(--dark-2); */
      border-radius: 1em; /* fully rounded */
      /* color: var(--white); */
      transition:
        border 0.2s ease-out,
        color 0.2s ease-out;

      &::placeholder {
        color: var(--gray);
      }

      /* IE fix */
      &::-ms-clear {
        opacity: 0;
      }

      /* interactions */
      &:hover {
        border-color: var(--dark-1);

        & + .search-icon path {
          fill: var(--gray);
        }
      }
      &[class]:focus {
        outline: none;
        border-color: var(--accent);

        & + .search-icon path {
          fill: var(--accent);
        }
      }
    }

    /* search icon */
    & .cms-profilesearch-icon {
      /* sizing & positioning */
      @mixin absolute-vertical-center;
      width: 0.625em;
      left: 0.5em;
      /* prevent from obscuring click */
      pointer-events: none;
      transition: color 0.2s ease-out;

      & svg {
        width: 100%;
        height: auto;
      }

      & path {
        fill: var(--dark-1);
        transition: fill 0.15s ease-out;
      }
    }

    /* reset search button */
    & .cms-profilesearch-reset-button {
      @mixin absolute-vertical-center;
      @mixin button-reset;
      padding: 0.5em 1em 0.625em 1em;
      right: 1em;
      /* theming */
      border-radius: 2em;
      background-color: var(--black);
      color: var(--white);
      transition:
        background-color 0.15s ease-out,
        opacity 0.15s ease-out,
        transform 0.15s ease-out;

      & > * {
        display: inline-block;
        vertical-align: middle;
      }

      & .cms-profilesearch-reset-button-icon {
        position: relative;
        width: 1em;
        left: -0.25em;

        & svg {
          width: 100%;
          height: auto;
        }
      }

      /* interactions */
      &:hover, &:focus {
        opacity: 1;
        background-color: var(--accent-black);

        & .cms-profilesearch-reset-button-icon {
          transform: scale(1.25);
        }
      }

      /* hidden state */
      &.is-hidden  {
        z-index: -1;
        opacity: 0;
        transform: scale(0.75) translateY(-50%);
      }
    }

    &.inputFontSize-md {
      & .cms-profilesearch-icon {
        width: 0.4em;
        left: 0.25em;
        top: 47%;
      }
      & .cms-profilesearch-reset-button {
        padding: 0 0em 0.25em 0.55em;
        right: 0.25em;
        & .cms-profilesearch-reset-button-text {
          display: none;
        }
      }
    }

    @mixin max-sm {
      & .cms-profilesearch-icon {
        width: 0.35em;
        left: 0.22em;
      }
      & .cms-profilesearch-reset-button {
        padding: 0 0em 0.25em 0.55em;
        right: 0.25em;
        & .cms-profilesearch-reset-button-text {
          display: none;
        }
      }
    }

  }

  & .cms-profilesearch-columns {
    @mixin list-reset;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + var(--gutter-lg)); /* offset column margin */

    & .cms-profilesearch-column {
      @mixin list-reset;
      flex: 1 0 calc(25% - var(--gutter-lg));
      min-width: 10rem;
      max-width: 100%;
      margin-right: var(--gutter-lg);
      position: relative;
      padding-bottom: var(--gutter-lg);

      /* list entity title */
      & .cms-profilesearch-column-title {
        /* positioning */
        position: sticky;
        text-align: center;
        top: 0;
        z-index: 2; /* above tile & tile title */
        margin: 0;
        /* sizing */
        height: var(--nav-height);
        padding: 1rem 0;
        /* hide tiles as they pass through */
        background-color: var(--white);
      }

      /* "column" layout */
      & .cms-profilesearch-column-list {
        column-width: 14rem;
        column-gap: var(--gutter);
        padding: 0;
      }

    }

  }

  /* "list" layout */
  & .cms-profilesearch-list {
    @mixin list-reset;
    & .cms-profilesearch-list-item {
      & .cms-profilesearch-list-item-link {
        background-color: var(--white);
        display: block;
        padding: 0.5rem;
        transition: background-color 0.15s ease-out;
        &:hover {
          background-color: var(--light-2);
        }
      }
    }
  }

}
