@import "../../css/mixins.css";

/* visible/hidden states */
.mirror.is-hidden {
  display: none;
}

/* position off screen when in use */
.mirror.is-visible {
  position: fixed;
  top: 0;
  left: 100%;
}

/* layout */
.mirror-inner {
  /* layout */
  display: flex;
  flex-direction: column;
  height: 100%;
  /* positioning */
  position: relative;
  margin: auto;

  /* pad out children */
  & > * {
    padding: 20px;
  }
}

/* let the content take up as much space as needed */
.mirror-content {
  flex: 1 1 auto;
  margin-top: auto;
  position: relative;
}

/* text left, logo right */
.mirror-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}
/* make the URL look more like a link */
.mirror-footer-text-url {
  text-decoration: underline;
}

/* logo, when background-image is set (TODO) */
.mirror-footer-logo[style*="background-image"] {
  width: 10rem;
  height: 100%;
  max-height: 2.5rem;
  margin: auto 0 auto var(--gutter-md);
  /* background positioning */
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
}
/* no logo */
.mirror-footer-logo:not([style]) {
  display: none;
}

/* hide elements */
.mirror-content .d3plus-zoom-control,
.mirror-content .options-button-group,
.mirror-content .options-dialog,
.mirror-content .cp-var-reset-button,
.mirror-content .cp-section-heading-anchor {
  display: none !important;
}
/* make section headers visible */
.mirror-content .cp-section-anchored-heading {
  margin-left: 0;
  padding-left: 0;
}
/* remove section padding */
.mirror-content .cp-section {
  padding: 0 !important;
}
.mirror-content .cp-select {
  font-size: inherit;
}
/* when we're just mirroring the visualization, make the figure span the whole width (table fix) */
.mirror.viz-context .cp-default-section-figure,
.mirror.viz-context .cp-tabs-section-figure {
  width: 100% !important;
}
