@import "../../css/mixins.css";

.clipboard-label {
  /* position children */
  display: flex;
  align-items: center;
  position: relative;
  /* theming */
  overflow: hidden;
  /* transitions */
  transition: border-color 0.2s ease-out;

  /* text input with link text */
  & .clipboard-input {
    @add-mixin overflow-ellipsis;
    /* take up all the space */
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    /* offset icon (left) and button (right) */
    padding-left: 40px;
    padding-right: 6em;
    /* sizing */
    display: inline-block;
    width: 100%;
    /* theming */
    color: var(--dark-3);
  }

  /* position label next to link */
  & .clipboard-icon {
    /* sizing */
    min-width: 1em;
    /* IE fixes */
    width: 1em;
    height: 1em;
    /* positioning */
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
    /* theming */
    opacity: 0.5;

    & svg {
      width: 100%;
      height: auto;
    }

    & path {
      fill: var(--dark-3);
    }
  }

  & .clipboard-button {
    margin-left: auto;
    min-width: 5em;
    text-align: center;
    z-index: 1;
  }

  /* interactions */
  &:hover .clipboard-icon,
  &:focus .clipboard-icon {
    opacity: 1;
  }
}
