.SourceGroup {
  & .pt-popover-target {
    display: inline;
    &.active span {
      text-decoration: underline;
      &:hover {
        cursor: help;
      }
    }
    &.active a {
      &:hover {
        cursor: help;
      }
    }
  }
}
