@import "../../css/mixins.css";

/* wrapper for stats (both grouped and single) */
.cp-stat-group-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  width: calc(100% + var(--gutter-md));

  /* grouped stats */
  & > .cp-stat-group {
    /* layout spans 2 columsn by default */
    flex: 2 0 auto;
    width: calc(var(--stat-group-stat-width) * 2);
    max-width: 100%;
    /* line up labels with single stats */
    margin-top: var(--gutter-xs);
    & .cp-stat { margin-top: 0; }

    /* span 3 columns for 3 or 5+ grouped stats */
    &.cp-3col-stat-group {
      flex: 3 0 auto;
      width: calc(var(--stat-group-stat-width) * 3);
    }
  }

  /* reset the list and make children flexible */
  & .cp-stat-group-list {
    @mixin list-reset;
    display: flex;
    flex-wrap: wrap;
  }

  & .cp-stat {
    flex: 1 0 var(--stat-group-stat-width);
    min-width: var(--stat-group-stat-width);
    max-width: 100%;

    &:not(:only-child) {
      padding-right: var(--gutter-md);
    }
  }

  /* stat margin overrides */
  & .cp-stat-label,
  & .cp-stat-value-text {
    margin-right: 0;
  }
}

/* hero stat layout overrides */
.cp-hero-stat-group-wrapper:not(:first-child) {
  margin-top: var(--gutter-md);

  &:not(:last-child) {
    margin-bottom: var(--gutter-md);
  }
}
