@import "../../css/mixins.css";

.cp-stat-group {
  display: flex;
  flex-wrap: wrap;

  & > .cp-stat {
    flex: 1 1 calc(50% - var(--gutter-xs));
    min-width: calc(50% - var(--gutter-xs));
    max-width: 100%;
  }
}
