@import "../../css/mixins.css";

.cp-stat-group-wrapper {
  width: 100%;
  overflow-x: hidden;
}
.cp-stat-group-wrapper:first-child {
  margin-top: calc(0px - var(--gutter-xs));
}

.cp-stat-group:not(:last-of-type) {
  margin-bottom: var(--gutter-xs);
}

/* the list of stats */
.cp-stat-group-list {
  @mixin list-reset;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + var(--gutter-md));
  margin-top: calc(0px - var(--gutter-xs)); /* offset stat margin */

  & > .cp-stat {
    flex: 1 1 calc(50% - var(--gutter-xs));
    min-width: calc(50% - var(--gutter-xs));
    max-width: 100%;
    padding-right: var(--gutter-md);

    /* three or more stats */
    &:nth-last-child(n+3),
    &:nth-last-child(n+3) ~ .cp-stat {
      flex-basis: calc(33.333% - var(--gutter-xs));
      min-width: 8rem;
    }
  }
}

/* hero stat layout overrides */
.cp-hero-stat-group-wrapper:not(:first-child) {
  margin-top: var(--gutter-md);

  &:not(:last-child) {
    margin-bottom: var(--gutter-md);
  }
}
.cp-hero-stat-group > .cp-stat {
  flex-basis: calc(100% / var(--hero-stat-column-count) - var(--gutter-xs));
  min-width: var(--hero-stat-column-width);
}
