/* applies overall top margin for the Editor header */
.mantine-Header-root ~ .mantine-AppShell-body {
  margin-top: 50px;
  min-height: calc(100vh - 50px);
}

/* plus button that appears beneath section on hover */
.cms-section-controls {
  height: 0;
  & button {
    background-color: white;
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 2;
  }
}
.cms-section-container:hover > .cms-section-controls {
  & button {
    opacity: 1;
  }
}

.cms-section-container:hover .cms-section-header,
.cms-section-container:hover .cms-section-click-to-edit,
.cms-section-header.active {
  opacity: 1;
}

.cms-section-container:hover .cms-section-overlay,
.cms-section-container.isDragging .cms-section-overlay {
  opacity: 0.4;
}

.cms-section-container {
  & .cms-section-content {
    min-height: 20px;
  }
}

/* increases max-height of Modal component */
.mantine-Modal-body {
  max-height: 90vw;
}

/* decreases default Prism code font-size */
.mantine-Prism-root pre {
  font-size: 12px;
  line-height: 1.25;
}
