@import "../../css/mixins.css";

/* individual cards */
.cms-card {
  /* layout */
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* sizing */
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  /* theming */
  background-color: var(--white);
  border: 1px solid var(--light-2);
  border-radius: 2px;

  @mixin dark-mode {
    background-color: var(--dark-3);
    border-color: var(--dark-2);
  }

  &:not(:first-child) {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & .cms-card-description {
    font-size: 0.75em;
    margin: 1rem 0 0 0;
  }
}


/* card title & edit button */
.cms-card-heading {
  /* layout */
  display: flex;
  align-items: baseline;
  /* alignment */
  margin-top: -0.875em;
  /* keep from breaking outside of container */
  width: 100%;

  /* truncate long card titles */
  & > .cms-card-heading-text {
    @mixin overflow-ellipsis;
    max-width: calc(100% - 3.5rem);
    margin: 0;
  }


  /* adjacent preview content */
  & ~ *:not(.cms-reorder) {
    @mixin font-xs; /* default font size */
  }
}

/* heading buttons */
.cms-card-heading > .cms-button-group {
  width: auto;
  margin-left: auto;
  margin-right: -0.5em;
}
.cms-card-heading-button {
  /* sizing */
  padding: 0;
  min-width: 1em;
  /* positioning */
}

/* individual stats */
.cms-stat-card {
  & p:not(:last-child) {
    margin-bottom: 0.125em;
  }
  & .value {
    font-size: 24px;
  }
}

/* splash card */
.cms-splash-card {
  text-align: center;
}
