@import "../../css/mixins.css";

/* individual cards */
.cms-card {
  /* sizing */
  width: 100%;
  max-width: 100%;
  padding: 1.125rem 1.25rem 1.25rem 1.25rem;
  /* theming */
  background-color: var(--white);
  border: 1px solid var(--light-2);

  &:first-child {
    border-top: 0;
  }

  & > * {
    max-width: 100%;
  }

  @mixin dark-mode {
    background-color: var(--dark-3);
    border-color: var(--dark-2);
  }

  &:not(:first-child) {
    margin-top: -1px;
  }

  &:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  & .cms-card-description {
    @mixin font-xxs;
    @mixin description-color;
    margin-top: 0.5em;
  }
}


/* card title & edit button */
.cms-card-heading {
  /* layout */
  display: flex;
  align-items: baseline;
  /* alignment */
  margin-top: -0.5em;
  /* keep from breaking outside of container */
  width: 100%;

  /* truncate long card titles */
  & > .cms-card-heading-text {
    @mixin overflow-ellipsis;
    padding-right: 0.5em;
    margin: 0;
    line-height: 1.75;
    transition: color 0.2s ease-out;
  }

  /* even out spacing when the card heading appears by itself */
  &:last-child {
    margin-bottom: -0.5em;
  }

  /* adjacent preview content */
  & ~ *:not([class*="u-font-"]) {
    @mixin font-xs; /* default font size */
  }
}

/* heading buttons */
.cms-card-heading > .cms-button-group {
  width: auto;
  margin-left: auto;
  margin-right: -0.5em;
  z-index: 2; /* above cover button */
}
/* edit button (initially hidden) */
.cms-card-heading > .cms-card-heading-icon {
  /* sizing */
  width: 0.75rem;
  /* positioning */
  position: absolute;
  left: -1rem;
  top: 0.25rem;
  /* theming */
  color: var(--dark-1);
  /* transitions */
  opacity: 0;
  transform: scale(0);
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
}

/* cover button */
.cms-card > .cms-card-cover-button {
  @mixin button-reset;
  @mixin absolute-expand;
  z-index: 1; /* above most stuff */
  transition:
    box-shadow 0.3s ease-out,
    background-color 0.1s ease-out;

  &:hover, &:focus {
    box-shadow: 0 0 0 1px var(--light-3);

    & ~ .cms-card-heading > .cms-card-heading-text {
      color: var(--accent-dark);
    }
    & ~ .cms-card-heading > .cms-card-heading-icon {
      opacity: 1;
      transform: scale(1) rotate(-45deg);
    }

    @mixin dark-mode {
      box-shadow: none;
      background-color: color(var(--gray) a(0.01));

      & ~ .cms-card-heading > [class*="cms-card-heading-"] {
        color: var(--accent);
      }
    }
  }
}

/* individual stats */
.cms-stat-card {
  & p:not(:last-child) {
    margin-bottom: 0.125em;
  }
  & .value {
    font-size: 24px;
  }
}

.cms-card ul:empty {
  display: none;
}
.cms-card-heading ~ p:last-of-type {
  margin-bottom: 0;
}

/* splash card */
.cms-splash-card {
  text-align: center;
}
