@import "../../css/mixins.css";

/* up to three columns */
.cms-dimension-card {
  flex: 1 1 12rem;
  z-index: 2;

  /* let filter search grow */
  & .cms-definition-item:last-child {
    display: flex;
    align-items: baseline;

    & > .cms-definition-text {
      flex: 1 1 auto;
    }
  }
}
