@import "../../css/mixins.css";

/* show variables side by side with language labels */
.cms-card.is-multilingual .cms-card-locale-group {
  display: flex;
  justify-content: space-between;
  line-height: 0.001px; /* fix empty space under var tables */

  & > * {
    width: calc(50% - 0.5rem);
  }
}

.cms .cms-generator-card .cms-card-description {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.cms-hidden {
  @mixin visually-hidden;
}
