@import "../../css/mixins.css";

/* show variables side by side with language labels */
.cms-card.is-multilingual .cms-card-locale-group {
  display: flex;
  justify-content: space-between;

  & > *:not(:only-child) {
    width: calc(50% - 0.5rem);
  }
}

.cms .cms-variable-card .cms-card-description {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.cms-card-error {
  @mixin error-text;
  display: flex;

  & .cms-card-error-icon {
    margin-left: -0.375em;
    margin-right: 0.5em;
    width: 1.125em;
  }
}

.cms-console-warning {
  margin-top: 1px;
  margin-left: 5px;
}
