.loading {
  background-color: var(--background);
  color: var(--foreground);
  height: 100vh;
  left: 0;
  max-width: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  & .bp3-non-ideal-state-visual {
    max-width: 200px;
    width: 100%;
    & .bp3-progress-meter {
      background-color: var(--accent);
    }
  }
  & .bp3-non-ideal-state-title {
    color: var(--foreground);
  }
}
