.cms-sidebar {
  & .pt-tree-node {
    &:hover {
      cursor: pointer;
    }
    & .pt-tree-node-content {
      line-height: 1.25;
      padding-top: 0.375rem;
      padding-bottom: 0.5rem;
      align-items: baseline;
      height: auto; /* override blueprint */

      &:hover {
        background: none;
      }

      & .pt-tree-node-caret {
        padding: 0.25rem 0.5rem;
      }

      & .pt-icon-cog {
        padding: 0.25rem 0;
      }

      & .pt-tree-node-caret,
      & .pt-icon-cog {
        line-height: 0.5rem !important;
        min-width: 0; /* override blueprint */
        font-size: 0.875rem;
      }
      & .pt-tree-node-label {
        white-space: normal;
      }
      & .pt-tree-node-secondary-label {
        line-height: 14px;
      }
    }
  }
  & .pt-tree-node-content-1 {
    padding-left: 1.25rem;
  }
  & .pt-tree-node-content-2 {
    padding-left: 1.5em;
  }
}

.cms-editor {
  /* background-color: white; */
  box-sizing: border-box;
  flex: 1;
  height: calc(100vh - var(--nav-height) - 30px - 30px);
  width: 100%;
  & .input-block, & .area-block {
    width: 100%;
    display: flex;
    & .pt-label {
      flex: 1;
      &:first-child {
        margin-right: 20px;
      }
      & .pt-input {
        width: 100%;
      }
      & .pt-select {
        width: 100%;
      }
      & .quill {
        width: 100%;
        & .ql-toolbar {
          border-radius: 5px 5px 0 0;
        }
        & .ql-container {
          border-radius: 0 0 5px 5px;
        }
      }
      & .image-area {
        & img {
          width: 100%;
        }
      }
    }
  }
}

.cms-header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.splash-cards {}

.stat-card {
  width: 200px;
  margin: 10px;
  display: inline-block;
}

.splash-card {
  width: 400px;
  margin: 10px;
}

/* #Search {
  z-index: 1;
  position: relative;
  width: 400px;
  margin-bottom: 25px;
} */
