@import "../css/mixins.css";

/* buttons */
.cms-button {
  display: inline-block;
  padding: 0.5em 1.25em;
  /* transitions */
  transition:
    color 0.2s ease-out,
    box-shadow 0.2s ease-out;
  /* theming */
  @mixin button-shadow;
  border: none; /* reset browser default */
  border-radius: 10em;
  background: var(--light-1); /* base */
  background-image: linear-gradient(
    180deg,
    color(var(--light-3) a(0.02)) 0%,
    color(var(--black) a(0.02)) 100%
  );
  color: var(--dark-2);

  @mixin dark-mode {
    background: var(--dark-2); /* base */
    background-image: linear-gradient(
      180deg,
      color(var(--light-3) a(0.02)) 0%,
      color(var(--black) a(0.02)) 100%
    );
    color: var(--dark-1);
  }

  /* interactions */
  &:hover, &:focus {
    color: var(--accent-black);

    @mixin dark-mode {
      color: var(--accent-light);
    }

    & > .cms-button-icon {
      transform: scale(1.125);

      /* gears keep on turning */
      &[class*="cog"] {
         transform: scale(1.125) rotate(-30deg);
      }
    }
  }


  /* align icons & text */
  & > * {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.25em;
    }
  }

  /* hidden text */
  &.cms-icon-only-button {
    padding: 0;
    width: 2em;
    height: 2em;

    /* override default margin */
    & > * {
      margin-right: 0;
    }
  }

  /* icon positioning */
  & > .cms-button-icon {
    top: -1px;
    transition: transform 0.1s ease-out;

    /* icon sized by button font-size */
    &, & > svg {
      width: 1em;
      height: 1em;
    }

    & + .cms-button-text {
      margin-left: 0.25em;
    }
  }

  /* cover the whole container width */
  &.is-block {
    display: block;
    width: 100%;
  }

  /* disabled state overrides all styles */
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    /* theming */
    box-shadow: none !important;
    background: var(--light-2) !important;
    color: var(--gray) !important;

    @mixin dark-mode {
      background: var(--black) !important;
      color: var(--dark-2) !important;
    }
  }
}


/* depreciation warning */
/* .cms .bp3-button:after {
  content: "please use the non-Blueprint <Button> component";
  display: block;
  position: absolute;
  width: max-content;
  z-index: 1;
  background: var(--alert);
  color: var(--white);
  padding: 1em;
} */
