@import "../css/mixins.css";

.cms-definition-list {
  /* alignment */
  margin-top: 0.25rem;
  margin-bottom: 0;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.cms-definition-label {
  @mixin label-color;
  font-weight: 400;
  padding-right: 0.5em;
}
.cms-definition-text {
  margin-left: 0; /* reset default */
  line-height: 1.25 !important;

  &:not(:last-child) {
    margin-bottom: 0.375rem;
    break-after: always;
  }
}
