@import "../css/mixins.css";

.cp-error {
  background-color: var(--dark);
  color: var(--white);
  height: 100vh;
  width: 100%;
  & .bp3-heading {
    color: var(--white);
  }
}

@define-mixin cp-print-styles {
  background: white;
  background-color: white;
  & a::after {
    content: " <" attr(href) ">";
    overflow-wrap: break-word;
    word-break: break-all;
    word-wrap: break-word;
  }
  & .cp-section-content {
    margin-bottom: 0;
    & > * {
      margin-bottom: var(--gutter-sm);
    }
    & .cp-button-group {
      display: inline-block;
      margin-right: var(--gutter-sm);
      width: auto;
      & .cp-button {
        flex: none;
      }
    }
    & .cp-var-reset-button {
      display: none;
    }
    & .multi-list {
      & .multi-item {
        & button {
          display: none;
        }
      }
    }
  }
  & .cp-section-heading {
    margin: 0 0 var(--gutter-md);
    padding: 0;
  }
  & .cp-section-heading-anchor {
    display: none;
  }
  & .cp-grouping,
  & .cp-section:not(.cp-grouping-section):not(.cp-hero):not(.cp-sticky) {
    background: transparent;
    background-color: transparent;
    page-break-after: always;
    page-break-before: always;
  }
  & .cp-section-sticky ~ .cp-section {
    page-break-after: avoid;
    page-break-before: avoid;
  }
  & .cp-section.cp-hero,
  & .cp-section.cp-grouping-section {
    box-sizing: border-box;
    height: 100vh;
    padding: calc(var(--gutter-xl));
  }
  & .cp-section:not(.cp-hero) {
    padding: calc(var(--gutter-xl));
    & .cp-section-inner {
      align-items: stretch;
      flex-direction: column;
      & > * {
        width: 100%;
      }
    }
  }
  & .cp-section:not(.cp-grouping-section):not(.cp-hero) {
    background: white;
    background-color: white;
  }
  & img, & svg {
    page-break-inside: avoid;
  }
  & .cp-viz-container {
    margin-top: var(--gutter-md);
    &.cp-table-viz-container {
      margin: 0;
      &:not(:first-of-type) {
        page-break-before: always;
      }
      &:not(:last-child) {
        page-break-after: always;
      }
    }
    & .cp-viz.header {
      position: relative;
    }
    & .cp-viz-figure {
      margin: 0;
      padding: 0;
      position: relative;
      & .cp-viz {
        position: relative;
        text-align: center;
        & svg {
          transform: scale(1);
        }
      }
    }
  }

  & .cp-table {
    min-width: 0 !important;
  }

  & .rt-table {
    display: block;
    font-size: var(--font-xxxs) !important;
    overflow: visible;
    width: auto !important;
    & .rt-tr-group {
      border-bottom: 1px solid var(--table-cell-border-color) !important;
      border-left: 1px solid var(--table-cell-border-color) !important;
      border-right: 1px solid var(--table-cell-border-color) !important;
      page-break-inside: avoid;
    }
    & .cp-table-header-button {
      hyphens: auto;
      padding: 0;
    }
    & .rt-thead, & .rt-tbody , & .rt-tr-group, & .rt-tr {
      display: block;
    }
    & .rt-th, & .rt-td {
      border: none !important;
      display: inline-block;
      padding: 0.25rem 0.25rem 0.25rem 0 !important;
      &:first-child {
        padding-left: 0.25rem !important;
      }
    }
    & .rt-th {
      vertical-align: bottom;
    }
    & .rt-th > [class=""] {
      min-height: 0;
    }
    & .rt-td {
      background: none !important;
      hyphens: auto;
      vertical-align: top;
    }
    & .cp-table-header-button, & .rt-td {
      overflow: visible;
      position: static;
      white-space: normal;
    }
    & .rt-tbody {
      border: none;
      max-height: none;
    }
  }
}

.cp.cp-print {
  @mixin cp-print-styles;
}
@media print {
  .cp {
    @mixin cp-print-styles;
  }
}
