@import "../css/mixins.css";

/* section headings */
.cms-section-heading {
  margin-top: 2rem;
  margin-bottom: 0;

  /* tighten up spaces between headings and card lists */
  & ~ .cms-card-container {
    margin-top: -0.25rem;
  }
}

/* add button */
.cms-section-heading-button {
  font-size: 0.5em;
  vertical-align: top;
  /* override default interactions */
  transition-property: color, background-color, border-color, transform;

  &:hover, &:focus {
    transform: scale(1.125);

    & .cms-button-icon {
      transform: none;
    }
  }
}

/* descriptions */
.cms-section-description {
  top: 0.5em; /* adjust spacing */
  @mixin description-color; /* theming */
}

/* other add button */
.cms-section-big-button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.cms-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* card layout */
.cms-card-list {
  display: flex;
  width: calc(50% - 1rem);
  flex-basis: calc(50% - 1rem); /* needed because reasons */
  flex-wrap: wrap;
  /* space out from adjacent elements */
  margin-top: 1rem;
  margin-bottom: 1rem;

  &:only-child {
    width: 100%;
    flex-basis: 100%; /* needed because reasons */
  }
}
