@import "../css/mixins.css";

/* section headings */
.cms-section-heading {
  margin-top: 2rem;
  margin-bottom: 0;

  /* tighten up spaces between headings and card lists */
  & ~ .cms-card-container {
    margin-top: -0.25rem;
  }
}

/* add button */
.cms-section-heading-button {
  font-size: 0.5em;
  vertical-align: top;
  padding: 0 !important; /* override default button styles */
  width: 1.9em;
  height: 1.9em;
  line-height: 1.9;
  margin-left: 0.5em;
}

/* descriptions */
.cms-section-description {
  top: 0.5em; /* adjust spacing */
  @mixin description-color; /* theming */
}
