@import "../css/mixins.css";

/* section headings */
.cms-section-heading {
  margin-top: 2rem;
  margin-bottom: 0;

  /* tighten up spaces between headings and card lists */
  & ~ .cms-card-container {
    margin-top: -0.25rem;
  }
}

/* add button */
.cms-section-heading-button {
  font-size: 0.5em;
  vertical-align: top;
  /* override default interactions */
  transition-property: color, background-color, border-color, transform;

  &:hover, &:focus {
    transform: scale(1.125);

    & .cms-button-icon {
      transform: none;
    }
  }
}

/* other add button */
.cms-section-big-button {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* descriptions */
.cms-section-description {
  top: 0.5em; /* adjust spacing */
  @mixin description-color; /* theming */
}
