@import "../css/mixins.css";

/* TODO: make into component with props */

/* section headings */
.cms-section-heading {
  margin-top: 2rem;

  /* tighten up spaces between headings and card lists */
  & ~ .cms-card-container {
    margin-top: -0.25rem;
  }
}
.cms-section-heading-button {
  font-size: 0.5em;
  vertical-align: top;
  padding: 0 !important; /* override default button styles */
  width: 1.9em;
  height: 1.9em;
  line-height: 1.9;
  margin-left: 0.5em;
}

/* TODO: replace bp3-text-muted */
/* See base.css */
.cms-section-description {
  color: var(--dark-2);

  @mixin dark-mode {
    color: var(--dark-1);
  }
}
