@import "../css/mixins.css";

/* wrapper */
.cms-select-label {
  display: block;
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

/* inline lable & menu */
.cms-inline-select-label {
  display: flex;
  align-items: baseline;

  & > .cms-select-text {
    margin-right: 0.75em;
  }
}

.cms-select {
  /* reset select */
  display: block;
  appearance: none;
  /* sizing */
  padding: 0.5em;
  /* typography */
  font-weight: 400;
  /* transitions */
  transition: border-color 0.1s ease-out;
  /* theming */
  @mixin button-theming;
  border: 1px solid var(--light-3);
  border-radius: 2px;
  color: var(--dark-2);

  @mixin dark-mode {
    border-color: var(--black);
    box-shadow:
      0 1px 4px color(var(--black) a(0.333)),
      0 4px 8px color(var(--black) a(0.2)),
      inset 0 1px 0 color(var(--dark-2) a(0.333));
    color: var(--gray);
  }

  /* hide native IE select icon */
  &::-ms-expand {
    display: none;
  }
}

/* ▾ */
.cms-select-icon {
  /* positioning */
  position: absolute !important;
  bottom: 0.5em;
  right: 0.25em;
  z-index: 1; /* in front of select */
  /* prevent from obscuring click */
  pointer-events: none;
  /* theming */
  color: var(--dark-1);

  /* sized by label font-size */
  &, & > svg {
    width: 1.25em;
    height: 1.25em;
  }
}

/* interactions */
.cms-select-label:hover .cms-select {
  border-color: var(--dark-1);
}
.cms-select-label .cms-select:focus {
  outline: none;
  border-color: var(--accent-dark);
}
