@import "../css/mixins.css";

.showcase-nav-list,
.showcase-list,
.showcase-nested-list {
  @mixin list-reset;
}

.showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > * {
    margin: 0;
    padding: var(--gutter-md);
  }
}

.showcase-header {
  flex: 1 0 var(--sidebar-width);

  @mixin min-sm {
    position: sticky;
    top: 0;
  }
}

.showcase-list {
  flex: 1 0 100%;
  max-width: 100%;

  @mixin min-sm {
    flex: 4 0 calc(100% - var(--sidebar-width));
    width: calc(var(--sidebar-width) * 2);
  }
}

.showcase-item {
  margin-top: var(--gutter-lg);
  margin-bottom: var(--gutter-lg);

  &:first-of-type { margin-top: var(--gutter-md); }
  &:last-of-type { margin-bottom: var(--gutter-md); }

  & * {
    position: relative;
  }
}


/* default theming */
.showcase-list {
  background-color: var(--light-1);
  min-height: 100vh;
}
.cms .showcase-item-heading {
  color: var(--dark-1);
}
.showcase-nav-link {
  color: var(--dark-1);
  &:hover, &:focus { color: var(--accent-dark); }
}

/* cms dark mode theming */
@mixin dark-mode {
  .cms .showcase-list { background-color: var(--dark-3); }
  .cms .showcase-header { background-color: var(--dark-2); }
  .cms .showcase-item-heading { color: var(--dark-1); }
  .cms .showcase-nav-link {
    color: var(--gray);
    &:hover, &:focus { color: var(--accent); }
  }
}
