@import "../css/mixins.css";

/* card table for displaying description, preview profile text, etc */
.cms-var-table {
  /* positioning */
  margin-top: 1rem;
  padding: 0;
  border-collapse: collapse;
  /* equal height tables */
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
  min-height: 1.5rem;
  border-radius: 2px;
  overflow: hidden;

  /* LIGHT THEME */
  /* card table for displaying description, preview profile text, etc */
  & .cms-var-table-cell {
    color: var(--dark-3);
  }

  /* placeholder */
  & .cms-var-table-body:empty {
    background-color: var(--light-1);
  }

  /* display values */
  & .cms-var-table-body:not(:empty) {
    background-color: transparent;
    border: 1px solid var(--light-2);
    box-shadow: 0 1px 0.125rem 1px inset var(--light-1);
  }

  /* DARK THEME */
  @mixin dark-mode {
    /* card table for displaying description, preview profile text, etc */
    & .cms-var-table-cell {
      color: var(--light-3);
    }

    /* placeholder */
    & .cms-var-table-body:empty {
      background-color: rgba(0, 0, 0, 0.25);
    }

    /* display values */
    & .cms-var-table-body:not(:empty) {
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid var(--dark-3);
    }
  }
}

.cms-var-table-body {
  display: block;
  width: 100%;
  max-height: 6rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* enable inertia scrolling */

  /* placeholder */
  &:empty {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

/* max height row with overflow */
.cms-var-table-row {
  display: flex;
  flex-wrap: none;
  padding: 0 0.4em;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* enable inertia scrolling */

  &:first-child { padding-top: 0.25em; }
  &:last-child { padding-bottom: 0.25em; }
}

/* cell style */
.cms-var-table-cell {
  font-size: 0.625rem;
  padding: 0.25em;
}
