@import "../variables";

.section-title {
  color: var(--section-title-color);
  display: inline-block;
  font-family: var(--section-title-family);
  font-size: var(--section-title-size);
  font-weight: var(--section-title-weight);
  margin: calc(var(--gutter) / 2);

  & .anchor {
    color: var(--section-title-color);
    text-decoration: none;
    z-index: 1;
  }

}
