@import "./variables";

.topics {
  margin: calc(var(--gutter) * 2);

  & h2 {
    color: var(--font-topic-color);
    font-family: var(--font-topic-family);
    font-size: var(--font-topic-size);

    & a {
      color: var(--font-topic-color);
      text-decoration: none;
    }
  }

  & .topic {
    margin: var(--gutter) 0;
  }

}
