.vizbuilder {
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  & > .area-sidebar {
    flex: 0 0 300px;
    width: 300px;
  }

  & > .area-chart {
    flex: 1 0 560px;
  }

  &.mapmode .levels-manager .grouping-items + button {
    display: none;
  }
}

.area-sidebar,
.area-chart {
  overflow: auto;

  & > .wrapper {
    padding: 15px;
  }
}
