.vizbuilder {
  min-height: 90vh;
  display: flex;
  flex-direction: row;

  & > .area-sidebar {
    flex: 0 0 300px;

    & .wrapper {
      margin: 15px;
    }

    & .group {
      margin-bottom: 1em;
    }

    & h3 {
      font-size: 1rem;
    }
  }

  & > .area-chart {
    flex: 1 0;
  }
}
