.vizbuilder {
  min-height: 90vh;
  display: flex;
  flex-direction: row;

  & > .area-loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    max-width: none;
    height: 100vh;
  }

  & > .area-sidebar {
    flex: 0 0 300px;
  }

  & > .area-chart {
    flex: 1 0;
  }
}
