.area-chart {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  &.empty {
    justify-content: center;
    align-items: center;
  }

  & .toolbar-wrapper {
    flex: 0 0 20px;
    position: sticky;
  }

  & .chart-wrapper {
    flex: 1 0 470px;
    height: 0;

    &.multi {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &.single .chart-card {
      height: 100%;
    }

    &.unique .chart-card footer {
      display: none;
    }
  }

  & .chart-card {
    flex: 1 0 33%;
    min-width: 500px;
    min-height: 400px;

    & > .wrapper {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 5px 10px;
      padding: 15px;
      height: 100%;
    }

    & .viz {
      flex: 1 0;

      & > svg {
        display: block;
        max-width: 100%;
      }
    }

    & footer {
      flex: 0 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      margin: 1rem 0 0;
    }
  }
}
