.area-sidebar {
  & .control {
    margin: 0 0 1em;

    & .label {
      margin: 0;
    }

    & > .control {
      margin-bottom: 0.8em;
    }
  }

  & .grouping-manager .actions,
  & .filter-manager .actions {
    margin-top: 0.2rem;
    text-align: right;
  }

  & .grouping-item,
  & .filter-item {
    padding: 0.3rem;
    margin: 0 0 0.4rem;
    border: 1px solid;
  }

  & .filter-item .values div {
    display: inline;
    margin-right: 0.5rem;
  }

  & .details {
    margin: 0.5rem 0;
    font-size: 0.75rem;
    color: #666;

    &:empty {
      display: none;
    }
  }

  & .sources p {
    margin: 0.5rem 0;
    font-size: 0.75rem;
  }

  & .source-link {
    font-weight: bold;
  }

  & .select-target-wrapper {
    margin-bottom: 4px;
  }

  & .select-label {
    display: block;
    line-height: 18px;
  }

  & .select-optgroup {
    background: #fff;

    & .h1 {
      font-weight: 800;
    }

    & .h2 {
      padding-left: 15px;
      font-style: italic;
    }
  }

  & .select-optgroup ~ .select-option,
  & .select-option.padded {
    padding-left: 26px;
  }
}
