@import "../../../css/mixins.css";

.cms-dialog-footer {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 var(--gutter-md);
  width: 100%;
  /* theming */
  background-color: var(--light-2);

  @mixin dark-mode {
    background-color: var(--dark-2);
  }

  & > [class] {
    margin: 0;
  }
}

/* override default button styles */
.cms-dialog-footer-button {
  padding-left: 0.5em;
  padding-right: 0.5em;

  &, &:hover, &:focus {
    background: none;
    border: none;
    box-shadow: none;
  }

  /* tweak margin */
  &:first-of-type       { margin-left: auto; }
  &:not(:last-of-type)  { margin-right: 0.5em; }
  &:last-of-type        { margin-right: -0.5em; } /* offset padding */

  &.cms-dialog-footer-delete-button:hover,
  &.cms-dialog-footer-delete-button:focus {
    @mixin error-text;
  }
}
