#home {
  & .content{
    max-width: 1000px;
    margin: 15px auto 0px auto;
    min-height: 100vh;
    height: auto;
    & .row{
      display: flex;
      padding: 15px;
      & .col-full{
        width: 100%;
        padding: 0 15px;
      }
      & .col-half{
        width: 50%;
        padding: 0 15px;
      }
      & .col-third{
        width: 33.33%;
        padding: 0 15px;
      }
      & .col-quarter{
        width: 25%;
        padding: 0 15px;
      }
    }
  }
}
