@import "../../../css/mixins.css";

.cp-section-grouping {
  padding-left: 0;
  padding-right: 0;
}

.cp-section-grouping-inner {
  width: calc(var(--container-width) + var(--gutter-md) + var(--gutter-md));
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* offset section margin */
  margin-left: auto;
  margin-right: auto;

  & > .cp-section {
    flex: 1 0 calc(33.333% - 25px);
    min-width: 20em;
    max-width: 100%;

    /* grouped sections should never be sticky, probably */
    &.is-sticky {
      position: relative;
    }
  }
}

/* bring grouped cards closer together */
.cp-info-card-section-grouping-inner {
  padding: var(--gutter-sm);

  & .cp-info-card-section {
    padding: var(--gutter-sm);
  }

  & .cp-info-card-section-inner {
    min-height: 100%;
  }
}
