@import "../../../css/mixins.css";

.cp-tile {
  /* positioning */
  position: relative;
  overflow: hidden;
  padding: var(--gutter-xs);
  z-index: 1;
  /* theming */
  background-color: var(--black);
  color: var(--white);

  /* proportionately sized tiles via padding-top */
  &:after {
    display: block;
    content: "";
    padding-top: 50%; /* set the height */
    z-index: -1; /* prevent from obscuring link */
  }

  & .cp-tile-link {
    /* sizing */
    @mixin absolute-expand;
    padding: var(--gutter-sm);
    /* layout */
    display: flex;
    /* theming */
    background-color: color(var(--black) a(0.75));
    color: inherit;
    transition:
      background-color 0.3s ease-out,
      border-color 0.3s ease-out;

    /* center title */
    & .cp-tile-title {
      margin: auto auto auto 0;
      text-align: left;
    }

    /* div with bg image */
    & .cp-tile-img-grid {
      @mixin absolute-expand;
      display: flex;
      flex-wrap: nowrap;

      & > .cp-tile-img-wrapper {
        position: relative;
        flex: 1 0 33.333%;

        & > .cp-tile-img {
          @mixin absolute-expand;
          z-index: -1; /* behind content */
          background-size: cover;
          background-position: center;
          transition: transform 0.3s ease-out;
        }
      }
    }

    /* interactions */
    &:hover, &:focus {
      text-decoration: none;
      color: var(--white);
      background-color: color(var(--black) a(0.666));

      & .cp-tile-img {
        transform: scale(1.05);
      }
    }
    &:focus {
      outline: 2px solid var(--accent);
      outline-offset: -2px;
    }
  }
}
