@import "../../css/mixins";

/* layout */
.cms-panel:not(:last-child) {
  @mixin min-md {
    width: calc(100% - var(--toolbox-width));
    max-width: calc(100% - var(--toolbox-width));

    & ~ .cms-toolbox {
      position: absolute;
      width: var(--toolbox-width);
      height: 100%;
      max-height: calc(100vh - (var(--nav-height) + var(--cms-nav-height)));
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; /* enable inertia scrolling */
      /* positioning */
      top: var(--nav-height);
      right: 0;
      bottom: 0;
      left: auto;
    }
  }
}

.cms .cms-toolbox {
  /* sizing */
  display: block;
  /* layout */
  margin-top: var(--cms-nav-height);
  padding: 2rem;
  /* theming */
  background-color: var(--light-2);

  @mixin dark-mode {
    background-color: color(var(--dark-3) a(0.25));
  }

  & .cms-card {
    min-width: 0;
    max-width: 100%;
  }
}

.cms-list-var {
  cursor: pointer;
}

.cms-list-var:hover {
  background-color: var(--accent-light);
}

.cms-hidden {
  @mixin visually-hidden;
}
