main > * {
  display: inline-block;
}

/* -----------------------------------
TODO: test styles to bring back into play
----------------------------------- */

/* test mixin */
@define-mixin font-xxxs { /* use sparingly */
  font-size: calc(10px - 2px);
}

/* test single-line comment */
@each $color in red, green { /* test inline comment */
  .box.$(color) {
    background: $(color);
  }
}

.box.custom {
  @mixin font-xxxs;
  background: var(--custom-color, #ff9900);
}
