.cms-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 1;
}

.cms-section-content {
  display: flex;
  position: relative;
  z-index: 0;
}

.cms-section-click-to-edit {
  opacity: 0;
  transition: opacity 0.1s;
}
