.cms-section {
  display:flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
  background-color: grey;
  outline: 1px solid black;
  transition: background-color .3s;
}

.isDragging {
  background-color: lightblue;
}

.cms-section-content {
  display: flex;
}

.cms-profile-add-block-button {
  width: 100px;
  height: 100px;
  margin: 10px;
}
