.cms-section {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
  background-color: grey;
  outline: 1px solid black;
  transition: background-color .3s;
}

.isDragging {
  background-color: lightblue;
}

.cms-section-drag-button {
  position: absolute;
  top: 10px;
  left: 10px;
}
