@import "../../css/mixins.css";

.cp-info-card-section-inner {
  display: flex;
  flex-direction: column;
  border-radius: var(--infocard-border-radius);
  border: var(--infocard-border-width) solid var(--infocard-border-color);

  & > .cp-info-card-section-main {
    align-self: stretch;
    flex: 1 0 auto;
  }
}

.cp-info-card-section-header,
.cp-info-card-section-main {
  /* sizing */
  display: flex;
  justify-content: space-between;

  @mixin max-sm {
    & > [class][class] {
      width: 100%;
      text-align: left;
    }
  }
}
.cp-info-card-section-header {
  background-color: var(--infocard-header-bg-color);
  @mixin font-md;
  color: var(--infocard-header-text-color);
  margin-top: 0;
  margin-bottom: var(--gutter-xs);

  & .cp-info-card-section-heading{
    color: var(--infocard-header-text-color);
  }

  & > .cp-info-card-header {
    width: 80%;
  }

  & > .cp-section-info-card-header-caption:not(:last-child) {
    flex: 1 0 auto;
    margin-right: var(--gutter-md);
  }

  & > .cp-stat-group-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 6px;
    width: calc(20% - 6px);

    background-color: var(--infocard-stat-bg-color) !important;

    @media (max-width: 767px) {
      text-align: center !important;
    }

    & .cp-stat {
      margin-top: 0;
      margin-bottom: 0.25em;
      padding-right: 0;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.cp-info-card-secondary-stats {
  & .cp-stat-group{
    flex-direction: column;
  }
  & strong {
    text-transform: uppercase;
  }
  & .cp-stat {
    padding-top: var(--gutter-md);
  }
  & .cp-stat:not(:last-child) {
    padding-bottom: var(--gutter-md);
    border-bottom:1px solid var(--infocard-divider-color);
  }
}

.cp-info-card-title {
  padding: var(--gutter-sm);
  display: flex;
}

/* text & additional stats left, viz right */
.cp-info-card-section-main {
  align-items: flex-start;
  background-color: var(--infocard-main-bg-color);
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  & > .cp-info-card-section-content {
    display: flex;
    padding: var(--gutter-md) var(--gutter-sm);
  }
}


.cp-info-card-paragraphs {
  width: 80%;
  padding-right: var(--gutter-sm);
  border-right: 1px solid var(--black);
}
@media (max-width: 767px) {
  .cp-info-card-paragraphs{
    width: 100%;
    padding-right: 0;
    border-right: none;
    padding: 0 var(--gutter-md) var(--gutter-md);
  }
}


.cp-info-card-secondary-stats {
  padding: 0 var(--gutter-md) var(--gutter-md);

  & .cp-stat-value {
    display: flex;
  }
  & .cp-stat-value-text {
    margin-right: var(--gutter-md);
  }
  @media (max-width: 767px) {
    & .cp-stat-label{
      text-align: center;
    }
  }
}



/* Filters */
.cp-info-card-filters {
  display: flex;
  align-items: stretch;

  & > .selector{
    flex-grow: 1;
    padding: 0 var(--gutter-sm) var(--gutter-sm);
  }
  & select{
    margin-right: 1em;
  }
}

@media (max-width: 767px) {
  .cp-info-card-filters{
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.cp-select-label {
  display: block;
  text-transform: uppercase;
  flex-direction: column;

  & .cp-select-text {
    color: var(--infocard-header-text-color);
    padding-bottom: var(--gutter-xs);
  }
}

/* Subtitle */
.cp-info-card-subtitle {
  @mixin font-xxs;
  padding: var(--gutter-xs) var(--gutter-sm);
  background-color: var(--infocard-main-bg-color);

  &.display {
    text-transform: none !important;
  }
}
.cp-info-card-subtitle p {
  @mixin font-xxs;
  font-weight: normal;
  text-transform: none;
}

.cp-info-card-section-paragraph strong {
  @mixin font-sm;
  color: var(--infocard-subhead-color);
}

.cp-info-card-section-header .cp-stat-label-text,
.cp-info-card-section-header .cp-stat-subtitle {
  @mixin font-xxs;
}

.cp-info-card-section-header .cp-stat-value-text {
  @mixin font-xxl;
}

.cp-info-card-section-main .cp-stat-label-text,
.cp-info-card-section-main .cp-stat-subtitle {
  @mixin font-sm;
}
.cp-stat-subtitle {
  color: inherit !important;
}
.cp-info-card-section-main .cp-stat-value-text {
  @mixin font-md;
}
