@import "../../css/mixins.css";

.cp-multi-column-section-heading {
  margin-top: 0;
}

.cp-multi-column-section-caption {
  columns: var(--multicolumn-column-count);
  column-width: var(--multicolumn-column-width);
  column-gap: var(--multicolumn-column-gap);
  column-fill: auto;

  & > * {
    break-inside: avoid;
  }
}

/* reset viz sizing defaults, since padding, multicolumn, and d3plus don't play well together */
/* !IMPORTANT NOTE: no top-padding on these two elements, d3plus won't render the viz correctly */
.cp-multi-column-section .cp-viz-figure {
  padding-top: 0;
}
.cp-multi-column-section .cp-viz-header,
.cp-multi-column-section .cp-viz {
  position: static !important;
  margin-bottom: var(--gutter-xs);
}
