@import "../../css/mixins.css";

/* THEMING */
.cp-section {
  color: var(--section-text-color);
}
/* section (or section grouping) backgrounds */
.cp-main > *:nth-child(odd) {
  background-color: var(--section-bg-odd);
}
.cp-main > *:nth-child(even) {
  background-color: var(--section-bg-even);
}
.cp-heading {
  color: var(--section-heading-color);
}

/* LAYOUT */
.cp-section {
  padding: var(--gutter-md);
  overflow-x: hidden;

  @mixin min-md {
    padding-top: var(--gutter-lg);
    padding-bottom: var(--gutter-lg);
  }
}

.cp-section-inner {
  width: var(--container-width);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cp-section-content > * {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

/* STICKY */
.cp-section.is-sticky {
  background-color: var(--sticky-section-bg);

  @mixin min-md {
    position: relative; /* IE fallback */
    position: sticky;
    top: var(--sticky-section-offset);
    z-index: 2;
    padding-top: 0;
    padding-bottom: 0;
    /* theming */
    box-shadow: var(--sticky-section-shadow);
    /* layout */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    height: var(--sticky-section-height);
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* enable inertia scrolling */

    /* hide scrollbar */
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0;
      opacity: 0;
      display: none;
    }

    /* scale down elements */
    & .cp-section-heading {
      @mixin font-sm;
      /* fudge alignment */
      position: relative;
      top: -1px;
    }

    /* reset default layout */
    & .cp-default-section-caption {
      display: flex;
      align-items: center;
      width: 100%;
    }

    /* further reset default layout */
    & .cp-section-content > * {
      display: inline-block;
      vertical-align: middle;
      width: auto;
      margin: 0 var(--gutter-md) 0 0;

      /* justified filters & heading */
      &.cp-section-heading + * {
        margin-left: auto;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    /* make it work in IE */
    &.ie-is-stuck {
      position: fixed;
      width: calc(100vw - var(--gutter-sm));
      max-width: calc(100vw - var(--gutter-sm));
      top: var(--sticky-section-offset);
      z-index: 1;
    }
  }

  @mixin ie-only {
    top: 0;
  }
}
