@import "../../css/mixins.css";

.cp-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 25px;
  width: 100%;
  /* theming */
  background-color: var(--section-bg);

  &.is-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  & .cp-section-content {
    align-self: flex-start;
    flex: 1;

    &:first-child {
      flex: none;
      margin: 3px 0 12px;
      max-width: 415px;
      width: 50%;
    }

    &:only-child {
      margin: 3px auto 12px;
      max-width: 600px;
      width: 100%;
    }

    & .cp-section-title {
      margin: 0 auto;
    }

    & .cp-section-stats {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    & .cp-section-descriptions {
      position: relative;
    }

  }

  & .cp-section-visualization {
    flex: 1;
    margin-left: 50px;
    min-height: 400px;
    overflow: hidden;
    position: relative;
  }

  &.is-loading {
    & .cp-section-description, & .cp-section-stats, & .cp-section-visualization {
      opacity: 0.25;
    }
  }

  & .bp3-non-ideal-state {
    left: 0;
    position: absolute;
    top: 0;
  }

  &.compare {
    & .cp-section-body {
      flex-wrap: wrap;
      & .cp-section-content {
        max-width: none !important;
        width: 100%;
        & .cp-section-text {
          &:not(:first-child) {
            margin-left: 50px;
          }
        }
        & .cp-section-visualization {
          margin-left: 0;
          &:not(:first-child) {
            margin-left: 50px;
          }
        }
      }
    }
  }

  &.cp-text-viz-section > .cp-section-inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &.cp-column-section,
  &.cp-tabs-section,
  &.cp-card-section {
    flex: 1;
    flex-direction: column;
    width: auto;
    & .cp-section-content {
      max-width: none;
      width: 100%;
    }
    & .cp-section-visualization {
      margin: 0;
      min-height: 200px;
    }
  }

  &.cp-card-section {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }

}

.cp-section-flex {
  display: flex;
  & .cp-section-selectors {
    max-width: 300px;
  }
}
