@import "../../css/mixins.css";

.topic {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 25px 25px;
  width: 100%;

  & .topic-content {
    align-self: flex-start;
    flex: 1;

    &:first-child {
      flex: none;
      margin: 3px 0 12px;
      max-width: 415px;
      width: 50%;
    }

    &:only-child {
      margin: 3px auto 12px;
      max-width: 600px;
      width: 100%;
    }

    & .topic-title {
      margin: 0 auto;
      z-index: 2;
      & a {
        display: inline-block;
        outline: 0;
      }
    }

    & .topic-stats {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    & .topic-descriptions {
      position: relative;
    }

  }

  & .topic-visualization {
    flex: 1;
    margin-left: 50px;
    min-height: 400px;
    overflow: hidden;
    position: relative;
  }

  &.topic-loading {
    & .topic-description, & .topic-stats, & .topic-visualization {
      opacity: 0.25;
    }
  }

  & .bp3-non-ideal-state {
    left: 0;
    position: absolute;
    top: 0;
  }

  &.compare {
    & .topic-body {
      flex-wrap: wrap;
      & .topic-content {
        max-width: none !important;
        width: 100%;
        & .topic-text {
          &:not(:first-child) {
            margin-left: 50px;
          }
        }
        & .topic-visualization {
          margin-left: 0;
          &:not(:first-child) {
            margin-left: 50px;
          }
        }
      }
    }
  }

  &.Column, &.Tabs, &.Card {
    flex: 1;
    flex-direction: column;
    width: auto;
    & .topic-content {
      max-width: none;
      width: 100%;
    }
    & .topic-visualization {
      margin: 0;
      min-height: 200px;
    }
  }

  &.Card {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }

}

.topic-flex {
  display: flex;
  & .topic-selectors {
    max-width: 300px;
  }
}
