.cms-section {

  & .cms-section-content {
    display: flex;

    & .cms-section-column {
      display: flex;
      flex-direction: column;
      & .cms-entity-add-button {
        align-self: center;
        height: 0;
        opacity: 0;
        transition: opacity 0.1s;
      }
      &:hover {
        & .cms-entity-add-button {
          opacity: 1;
        }
      }
    }

    & .cms-section-column + .cms-entity-add-button {
      align-self: center;
      opacity: 0;
      transition: opacity 0.1s;
      width: 0;
      & > * {
        margin-left: -10px;
      }
    }
    & .cms-section-column:hover + .cms-entity-add-button,
    & .cms-section-column + .cms-entity-add-button:hover {
      opacity: 1;
    }
    & .cms-entity-add-button:only-child {
      align-self: center;
      display: flex;
      flex: 1;
      justify-content: center;
    }
  }

}

.cms-section-click-to-edit {
  opacity: 0;
  transition: opacity 0.1s;
}
